<div class="content-wrapper">
    <show-message [message]="message"></show-message>
        <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">ข้อมูลพื้นที่เก็บของ(แก้ไข)</h1>
                    
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink ="/master/location">ข้อมูลพื้นที่เก็บของ</a></li>
                        <li class="breadcrumb-item active">แก้ไข</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" >
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>โรงงาน</label>
                                <select class="form-control" formControlName = "factory_code">
                                    <option *ngFor="let factory_data of factory_datas" value="{{factory_data.factory_code}}">{{factory_data.factory_name}}</option>
                                </select>
                            </div>

                            <div class="col-sm-6">
                                <label>รหัสพื้นที่เก็บของ</label>
                                <input type="text" [ngClass]="inputForm.controls['location_code'].invalid?'form-control is-invalid': 'form-control'" formControlName="location_code" placeholder="กรุณาใส่รหัสพื้นที่เก็บของ">
                                <div *ngIf="inputForm.controls['location_code'].hasError">
                                    <span class="help" *ngIf="inputForm.controls['location_code'].hasError('required')">กรุณาใส่ข้อมูล</span>
                                    <span class="help" *ngIf="inputForm.controls['location_code'].hasError('maxlength')">ใส่ได้ไม่เกิน 50 ตัวอักษร</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>ชื่อพื้นที่เก็บของ</label>
                        <input type="text" [ngClass]="inputForm.controls['location_name'].invalid?'form-control is-invalid': 'form-control'" formControlName="location_name" placeholder="กรุณาใส่ชื่อพื้นที่เก็บของ">
                        <div *ngIf="inputForm.controls['location_name'].hasError">
                            <span class="help" *ngIf="inputForm.controls['location_name'].hasError('required')">กรุณาใส่ข้อมูล</span>
                            <span class="help" *ngIf="inputForm.controls['location_name'].hasError('maxlength')">ใส่ได้ไม่เกิน 50 ตัวอักษร</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="mrp_flag" id="mrp_flag" >
                            <label class="form-check-label" for="mrp_flag">ใช้ในการคำนวน MRP</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="expire_flag" id="expire_flag">
                            <label class="form-check-label" for="expire_flag">ยกเลิกการใช้งาน</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>หมายเหตุ</label>
                        <textarea class="form-control" rows="3" formControlName="remark"></textarea>
                    </div>
                </div> 
                <div class="card-footer">
                    <a [routerLink]="['/master/location']" class="btn btn-info">กลับ</a>
                    <button type="submit" class="btn btn-primary float-right">ยืนยัน</button>
                </div>
            </form>
        </div>
        
    </section>
    <!-- /.content -->

</div>

