<div class="content-wrapper">
    <show-message [message]="message"></show-message>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{'PAGE_NAME.FRA_A_EDIT'|translate}}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">{{'PAGE_NAME.DASHBOARD'|translate}}</a></li>
                        <li class="breadcrumb-item"><a routerLink ="/health/examiners">{{'PAGE_NAME.EXAMINERS'|translate}}</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/health/check-menu',examiner_id]">{{'PAGE_NAME.EXAMINERS_MENU'|translate}}</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/health/flail-a/index',examiner_id]">{{'PAGE_NAME.FRA_A'|translate}}</a></li>
                        <li class="breadcrumb-item">{{'COMMON.EDIT'|translate}}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- ↓↓===== Header area ===================================================↓↓ -->
            <examiner-header [examiner_id]="examiner_id"></examiner-header>
            <!-- ↑↑===== Header area ===================================================↑↑ -->
            <div class="card">
                <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" >
                    <div class="card-body card-checklist normal_question01_waku">
                        <div class="row input text">
                            <div class="col-md-12 edit_area form-inline">
                                {{'FRA_A.EXAMINER_DATE'|translate}} : 
                                <input type="date" class="form-control" placeholder="" formControlName="exam_date">
                            </div>
                        </div>
                        <!-- ↓== Question 01 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                01
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_01'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" class="radio-input" name="question_1" id="faq01_0" value="0" formControlName="question_1">
                                    <label for="faq01_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" class="radio-input" name="question_1" id="faq01_1" value="1"  formControlName="question_1">
                                    <label for="faq01_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 01 ==↑ -->
                        <!-- ↓== Question 02==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                02
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_02'|translate}}
                            </div>

                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_2" id="faq02_0" value="0" class="radio-input" formControlName="question_2">
                                    <label for="faq02_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_2" id="faq02_1" value="1" class="radio-input" formControlName="question_2">
                                    <label for="faq02_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                        
                            </div>
                    
                        </div>
                        <!-- ↑== Question 02 ==↑ -->
                        <!-- ↓== Question 03 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                03
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_03'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_3" id="faq03_0" value="0" class="radio-input" formControlName="question_3">
                                    <label for="faq03_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_3" id="faq03_1" value="1" class="radio-input" formControlName="question_3">
                                    <label for="faq03_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 03 ==↑ -->
                        <!-- ↓== Question 04 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                04
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_04'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_4" id="faq04_0" value="0" class="radio-input" formControlName="question_4">
                                    <label for="faq04_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_4" id="faq04_1" value="1" class="radio-input" formControlName="question_4">
                                    <label for="faq04_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 04 ==↑ -->
                        <!-- ↓== Question 05 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                05
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_05'|translate}}
                            </div>
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_5" id="faq05_0" value="0" class="radio-input" formControlName="question_5">
                                    <label for="faq05_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_5" id="faq05_1" value="1" class="radio-input" formControlName="question_5">
                                    <label for="faq05_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 05 ==↑ -->
                        <!-- ↓== Question 06 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                06
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_06'|translate}}
                            </div>
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_6" id="faq06_0" value="0" class="radio-input" formControlName="question_6">
                                    <label for="faq06_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_6" id="faq06_1" value="1" class="radio-input" formControlName="question_6">
                                    <label for="faq06_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 06 ==↑ -->
                        <!-- ↓== Question 07 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                07
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_07'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_7" id="faq07_0" value="0" class="radio-input" formControlName="question_7">
                                    <label for="faq07_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_7" id="faq07_1" value="1" class="radio-input" formControlName="question_7">
                                    <label for="faq07_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 07 ==↑ -->
                        <!-- ↓== Question 08 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                08
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_08'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_8" id="faq08_0" value="0" class="radio-input" formControlName="question_8">
                                    <label for="faq08_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_8" id="faq08_1" value="1" class="radio-input" formControlName="question_8">
                                    <label for="faq08_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                        
                            </div>
                        </div>
                        <!-- ↑== Question 08 ==↑ -->
                        <!-- ↓== Question 09 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                09
                            </div><!-- /col-md-1 column_area column_number -->
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_09'|translate}}
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_9" id="faq09_1" value="1" class="radio-input" formControlName="question_9">
                                    <label for="faq09_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_9" id="faq09_0" value="0" class="radio-input" formControlName="question_9">
                                    <label for="faq09_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 09 ==↑ -->
                        <!-- ↓== Question 10 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                10
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_10'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_10" id="faq10_1" value="1" class="radio-input" formControlName="question_10">
                                    <label for="faq10_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_10" id="faq10_0" value="0" class="radio-input" formControlName="question_10">
                                    <label for="faq10_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div><!-- /col-md-4 edit_area clearfix -->
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== Question 10 ==↑ -->
                        <!-- ↓== Question 11 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                11
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_11'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_11" id="faq11_1" value="1" class="radio-input" formControlName="question_11">
                                    <label for="faq11_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_11" id="faq11_0" value="0" class="radio-input" formControlName="question_11">
                                    <label for="faq11_0" class="radio-label">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 11 ==↑ -->
                        <!-- ↓== Question 12 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                12
                            </div>
                            <div class="col-md-11 column_area f_22">
                                {{'FRA_A.QUESTION_12'|translate}}
                                <div class="row">
                                    <div class="col-md-6 column_area f22">
                                        <label for="height">{{'FRA_A.QUESTION_12_HEIGHT'|translate}}</label>
                                        <input type="number" class="form-control number-only" id="height" formControlName="height" (input)="onCalculateBMI()">
                                    </div>
                                    <div class="col-md-6 column_area f22">
                                        <label for="weight">{{'FRA_A.QUESTION_12_WEIGHT'|translate}}</label>
                                        <input type="number" class="form-control number-only" id="weight" formControlName="weight" (input)="onCalculateBMI()">
                                    </div>
                                    <div class="col-md-12 column_area f22">
                                        BMI：<label id="bmi_text" style="display:inline-block; width:4em; vertical-align:middle; height: 1.8rem; margin-top: 6px;margin-right: 6px; padding-top:1px; text-align: center; border-bottom: 2px #DCEAF2 solid; " class="bmd-label-static">{{bmi}}</label>
                                        <span class="f_16 mt-2">{{'FRA_A.QUESTION_12_BMI'|translate}}</span>
                                    </div>
                                    
                        
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 12 ==↑ -->
                        <!-- ↓== Question 13 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                13
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_13'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_13" id="faq13_1" value="1" class="radio-input" formControlName="question_13">
                                    <label for="faq13_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_13" id="faq13_0" value="0" class="radio-input" formControlName="question_13">
                                    <label for="faq13_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 13 ==↑ -->
                        <!-- ↓== Question 14 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                14
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_14'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_14" id="faq14_1" value="1" class="radio-input" formControlName="question_14">
                                    <label for="faq14_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_14" id="faq14_0" value="0" class="radio-input" formControlName="question_14">
                                    <label for="faq14_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 14 ==↑ -->
                        <!-- ↓== Question 15 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                15
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_15'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_15" id="faq15_1" value="1" class="radio-input" formControlName="question_15">
                                    <label for="faq15_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_15" id="faq15_0" value="0" class="radio-input" formControlName="question_15">
                                    <label for="faq15_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 15 ==↑ -->
                        <!-- ↓== Question 16 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                16
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_16'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_16" id="faq16_0" value="0" class="radio-input" formControlName="question_16">
                                    <label for="faq16_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_16" id="faq16_1" value="1" class="radio-input" formControlName="question_16">
                                    <label for="faq16_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 16 ==↑ -->
                        <!-- ↓== Question 17 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                17
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_17'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_17" id="faq17_1" value="1" class="radio-input" formControlName="question_17">
                                    <label for="faq17_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_17" id="faq17_0" value="0" class="radio-input" formControlName="question_17">
                                    <label for="faq17_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 17 ==↑ -->
                        <!-- ↓== Question 18 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                18
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_18'|translate}}
                            </div>
                        
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_18" id="faq18_1" value="1" class="radio-input" formControlName="question_18">
                                    <label for="faq18_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_18" id="faq18_0" value="0" class="radio-input" formControlName="question_18">
                                    <label for="faq18_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 18 ==↑ -->
                        <!-- ↓== Question 19 ==↓ -->
                        <div class="row input ml-2">
                        
                            <div class="col-md-1 column_area column_number">
                                19
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_19'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_19" id="faq19_0" value="0" class="radio-input" formControlName="question_19">
                                    <label for="faq19_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_19" id="faq19_1" value="1" class="radio-input" formControlName="question_19">
                                    <label for="faq19_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 19 ==↑ -->
                        <!-- ↓== Question 20 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                20
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_20'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_20" id="faq20_1" value="1" class="radio-input" formControlName="question_20">
                                    <label for="faq20_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_20" id="faq20_0" value="0" class="radio-input" formControlName="question_20">
                                    <label for="faq20_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 20 ==↑ -->
                        <!-- ↓== Question 21 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                21
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_21'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_21" id="faq21_1" value="1" class="radio-input" formControlName="question_21">
                                    <label for="faq21_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_21" id="faq21_0" value="0" class="radio-input" formControlName="question_21">
                                    <label for="faq21_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 21 ==↑ -->
                        <!-- ↓== Question 22 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                22
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_22'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_22" id="faq22_1" value="1" class="radio-input" formControlName="question_22">
                                    <label for="faq22_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_22" id="faq22_0" value="0" class="radio-input" formControlName="question_22">
                                    <label for="faq22_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 22 ==↑ -->
                        <!-- ↓== Question 23 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                23
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_23'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_23" id="faq23_1" value="1" class="radio-input" formControlName="question_23">
                                    <label for="faq23_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_23" id="faq23_0" value="0" class="radio-input" formControlName="question_23">
                                    <label for="faq23_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 23 ==↑ -->
                        <!-- ↓== Question 24 ==↓ -->
                        <div class="row input ml-2">

                            <div class="col-md-1 column_area column_number">
                                24
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_24'|translate}}
                            </div>

                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_24" id="faq24_1" value="1" class="radio-input" formControlName="question_24">
                                    <label for="faq24_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_24" id="faq24_0" value="0" class="radio-input" formControlName="question_24">
                                    <label for="faq24_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <!-- ↑== Question 24 ==↑ -->
                        <!-- ↓== Question 25 ==↓ -->
                        <div class="row input ml-2">

                            <div class="col-md-1 column_area column_number background_senior">
                                25
                            </div>
                            <div class="col-md-7 column_area f_22 background_senior">
                                {{'FRA_A.QUESTION_25'|translate}}
                            </div>

                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_25" id="faq25_1" value="1" class="radio-input" formControlName="question_25">
                                    <label for="faq25_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_25" id="faq25_0" value="0" class="radio-input" formControlName="question_25">
                                    <label for="faq25_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <!-- ↑== Question 25 ==↑ -->

                    </div>
                    <div class="card-footer border-light cart-panel-foo-fix">
                        <a [routerLink]="['/health/flail-a/index',examiner_id]" class="btn btn-info">{{'COMMON.BACK'|translate}}</a>
                        <button type="submit" class="btn btn-primary float-right">{{'COMMON.CONFIRM'|translate}}</button>
                    </div>
                </form>
            </div>
        </div>
        
    </section>
    {{inputForm.value|json}}
</div>
