<div class="content-wrapper">
    <show-message [message]="message"></show-message>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{'PAGE_NAME.FRA_A_EDIT'|translate}}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">{{'PAGE_NAME.DASHBOARD'|translate}}</a></li>
                        <li class="breadcrumb-item"><a routerLink ="/health/examiners">{{'PAGE_NAME.EXAMINERS'|translate}}</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/health/check-menu',examiner_id]">{{'PAGE_NAME.EXAMINERS_MENU'|translate}}</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/health/flail-a/index',examiner_id]">{{'PAGE_NAME.FRA_A'|translate}}</a></li>
                        <li class="breadcrumb-item">{{'COMMON.EDIT'|translate}}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- ↓↓===== Header area ===================================================↓↓ -->
            <examiner-header [examiner_id]="examiner_id"></examiner-header>
            <!-- ↑↑===== Header area ===================================================↑↑ -->
            <div class="card">
                <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" >
                    <div class="card-body card-checklist normal_question01_waku">
                        <div class="row input text">
                            <div class="col-md-12 edit_area form-inline">
                                {{'FRA_A.EXAMINER_DATE'|translate}} : 
                                <input type="text" class="datepicker hasDatepicker" placeholder="" formControlName="exam_date">
                            </div>
                        </div>
                        <!-- ↓== Question 01 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                01
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_01'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" class="radio-input" name="question_1" id="faq01_0" value="true" formControlName="question_1">
                                    <label for="faq01_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" class="radio-input" name="question_1" id="faq01_1" value="false"  formControlName="question_1">
                                    <label for="faq01_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 01 ==↑ -->
                        <!-- ↓== Question 02==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                02
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_02'|translate}}
                            </div>

                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_2" id="faq02_0" value="true" class="radio-input" formControlName="question_2">
                                    <label for="faq02_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_2" id="faq02_1" value="false" class="radio-input" formControlName="question_2">
                                    <label for="faq02_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                        
                            </div>
                    
                        </div>
                        <!-- ↑== Question 02 ==↑ -->
                        <!-- ↓== Question 03 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                03
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_03'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_3" id="faq03_0" value="true" class="radio-input" formControlName="question_3">
                                    <label for="faq03_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_3" id="faq03_1" value="false" class="radio-input" formControlName="question_3">
                                    <label for="faq03_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 03 ==↑ -->
                        <!-- ↓== Question 04 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                04
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_04'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_4" id="faq04_0" value="true" class="radio-input" formControlName="question_4">
                                    <label for="faq04_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_4" id="faq04_1" value="false" class="radio-input" formControlName="question_4">
                                    <label for="faq04_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 04 ==↑ -->
                        <!-- ↓== Question 05 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                05
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_05'|translate}}
                            </div>
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_5" id="faq05_0" value="0" class="radio-input" formControlName="question_5">
                                    <label for="faq05_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_5" id="faq05_1" value="1" class="radio-input" formControlName="question_5">
                                    <label for="faq05_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 05 ==↑ -->
                        <!-- ↓== Question 06 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                06
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_06'|translate}}
                            </div>
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_6" id="faq06_0" value="0" class="radio-input" formControlName="question_6">
                                    <label for="faq06_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_6" id="faq06_1" value="1" class="radio-input" formControlName="question_6">
                                    <label for="faq06_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 06 ==↑ -->
                        <!-- ↓== Question 07 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                07
                            </div>
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_07'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_7" id="faq07_0" value="0" class="radio-input" formControlName="question_7">
                                    <label for="faq07_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_7" id="faq07_1" value="1" class="radio-input" formControlName="question_7">
                                    <label for="faq07_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 07 ==↑ -->
                        <!-- ↓== Question 08 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                08
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_08'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_8" id="faq08_0" value="0" class="radio-input" formControlName="question_8">
                                    <label for="faq08_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_8" id="faq08_1" value="1" class="radio-input" formControlName="question_8">
                                    <label for="faq08_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                        
                            </div>
                        </div>
                        <!-- ↑== Question 08 ==↑ -->
                        <!-- ↓== Question 09 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                09
                            </div><!-- /col-md-1 column_area column_number -->
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_09'|translate}}
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_9" id="faq09_1" value="1" class="radio-input" formControlName="question_9">
                                    <label for="faq09_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_9" id="faq09_0" value="0" class="radio-input" formControlName="question_9">
                                    <label for="faq09_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ↑== Question 09 ==↑ -->
                        <!-- ↓== Question 10 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                10
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_10'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_10" id="faq10_1" value="1" class="radio-input" formControlName="question_10">
                                    <label for="faq10_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_10" id="faq10_0" value="0" class="radio-input" formControlName="question_10">
                                    <label for="faq10_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div><!-- /col-md-4 edit_area clearfix -->
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== Question 10 ==↑ -->
                        <!-- ↓== Question 11 ==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number">
                                11
                            </div>
                    
                            <div class="col-md-7 column_area f_22">
                                {{'FRA_A.QUESTION_11'|translate}}
                            </div>
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_11" id="faq11_1" value="1" class="radio-input" formControlName="question_11">
                                    <label for="faq11_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div>
                                <div class="label_area">
                                    <input type="radio" name="question_11" id="faq11_0" value="0" class="radio-input" formControlName="question_11">
                                    <label for="faq11_0" class="radio-label">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 11 ==↑ -->
                        <!-- ↓== Question 12 ==↓ -->
                        <div class="row input ml-2">
                            <div class="col-md-1 column_area column_number">
                                12
                            </div>
                            <div class="col-md-11 column_area f_22">
                                {{'FRA_A.QUESTION_12'|translate}}
                                <div class="row">
                                    <div class="col-md-6 column_area f22">
                                        <label for="height">{{'FRA_A.QUESTION_12_HEIGHT'|translate}}</label>
                                        <input type="number" class="form-control number-only" id="height" formControlName="height" (input)="onCalculateBMI()">
                                    </div>
                                    <div class="col-md-6 column_area f22">
                                        <label for="weight">{{'FRA_A.QUESTION_12_WEIGHT'|translate}}</label>
                                        <input type="number" class="form-control number-only" id="weight" formControlName="weight" (input)="onCalculateBMI()">
                                    </div>
                                    <div class="col-md-12 column_area f22">
                                        BMI：<label id="bmi_text" style="display:inline-block; width:4em; vertical-align:middle; height: 1.8rem; margin-top: 6px;margin-right: 6px; padding-top:1px; text-align: center; border-bottom: 2px #DCEAF2 solid; " class="bmd-label-static">{{bmi}}</label>
                                        <span class="f_16 mt-2">{{'FRA_A.QUESTION_12_BMI'|translate}}</span>
                                    </div>
                                    
                        
                                </div>
                            </div>
                        </div>
                        <!-- ↑== Question 12 ==↑ -->
                        <!-- ↓== 入力項目13 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                13
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณทานอาหารได้ยากขึ้นหรือเปล่าในช่วง 6 เดือนที่ผ่านมา
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_13" id="faq13_1" value="1" class="radio-input" formControlName="question_13">
                                    <label for="faq13_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_13" id="faq13_0" value="0" class="radio-input" formControlName="question_13">
                                    <label for="faq13_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq13_text" onclick="openbox('faq13_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                                
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目14 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                14
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณมีอาการสำลักน้ำบ้างหรือเปล่า
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_14" id="faq14_1" value="1" class="radio-input" formControlName="question_14">
                                    <label for="faq14_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_14" id="faq14_0" value="0" class="radio-input" formControlName="question_14">
                                    <label for="faq14_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq14_text" onclick="openbox('faq14_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目15 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                15
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณกังวนเกี่ยวกับการดื่มน้ำหรือเปล่า
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_15" id="faq15_1" value="1" class="radio-input" formControlName="question_15">
                                    <label for="faq15_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_15" id="faq15_0" value="0" class="radio-input" formControlName="question_15">
                                    <label for="faq15_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq15_text" onclick="openbox('faq15_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目16 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                16
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณออกไปเทียวอย่างน้อยสัปดาห์ละครั้ง
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_16" id="faq16_0" value="0" class="radio-input" formControlName="question_16">
                                    <label for="faq16_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_16" id="faq16_1" value="1" class="radio-input" formControlName="question_16">
                                    <label for="faq16_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                            
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq16_text" onclick="openbox('faq16_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目17 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                17
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณออกไปเที่ยวน้อกว่าปีที่แล้วหรือไม่
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_17" id="faq17_1" value="1" class="radio-input" formControlName="question_17">
                                    <label for="faq17_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_17" id="faq17_0" value="0" class="radio-input" formControlName="question_17">
                                    <label for="faq17_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq17_text" onclick="openbox('faq17_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目18 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                18
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณมีอาการย้ำคิดย้ำทำหรือเปล่า
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                        
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_18" id="faq18_1" value="1" class="radio-input" formControlName="question_18">
                                    <label for="faq18_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_18" id="faq18_0" value="0" class="radio-input" formControlName="question_18">
                                    <label for="faq18_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq18_text" onclick="openbox('faq18_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目19 ここから==↓ -->
                        <div class="row input ml-2">
                        
                            <div class="col-md-1 column_area column_number background_senior">
                                19
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    คุณสามารถหาเบอร์โทรศัพท์และโทรออกเองได้หรือเปล่า
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_19" id="faq19_0" value="0" class="radio-input" formControlName="question_19">
                                    <label for="faq19_0" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_19" id="faq19_1" value="1" class="radio-input" formControlName="question_19">
                                    <label for="faq19_1" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq19_text" onclick="openbox('faq19_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目20 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                20
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    บางครั้งคุณสับสนไม่รู้ว่าวันนี้วันอะไร
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_20" id="faq20_1" value="1" class="radio-input" formControlName="question_20">
                                    <label for="faq20_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_20" id="faq20_0" value="0" class="radio-input" formControlName="question_20">
                                    <label for="faq20_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq20_text" onclick="openbox('faq20_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目21 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                21
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    ใน 2 สัปดาห์ที่ผ่านมา คุณรู้สึกไม่มีความสุขหรือเปล่า
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_21" id="faq21_1" value="1" class="radio-input" formControlName="question_21">
                                    <label for="faq21_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_21" id="faq21_0" value="0" class="radio-input" formControlName="question_21">
                                    <label for="faq21_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq21_text" onclick="openbox('faq21_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目22 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                22
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    ใน 2 สัปดาห์ที่ผ่านมา คุณรู้สึกเบื่อกับสิ่งที่เคยทำให้คุณสนุก
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_22" id="faq22_1" value="1" class="radio-input" formControlName="question_22">
                                    <label for="faq22_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_22" id="faq22_0" value="0" class="radio-input" formControlName="question_22">
                                    <label for="faq22_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq22_text" onclick="openbox('faq22_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目23 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                23
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    ใน 2 สัปดาห์ที่ผ่านมา อะไรเคยทำได้กลับทำไม่ได้
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_23" id="faq23_1" value="1" class="radio-input" formControlName="question_23">
                                    <label for="faq23_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_23" id="faq23_0" value="0" class="radio-input" formControlName="question_23">
                                    <label for="faq23_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq23_text" onclick="openbox('faq23_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目24 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                24
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    ใน 2 สัปดาห์ที่ผ่านมา คุณรู้สึกว่าตัวเองไม่มีค่า
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_24" id="faq24_1" value="1" class="radio-input" formControlName="question_24">
                                    <label for="faq24_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_24" id="faq24_0" value="0" class="radio-input" formControlName="question_24">
                                    <label for="faq24_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq24_text" onclick="openbox('faq24_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目25 ここから==↓ -->
                        <div class="row input ml-2">
                    
                            <div class="col-md-1 column_area column_number background_senior">
                                25
                            </div><!-- /col-md-1 column_area column_number -->
                    
                            <div class="col-md-7 column_area f_22 background_senior">
                                <div class="fra_slide_q">
                                    ใน 2 สัปดาห์ที่ผ่านมา คุณรู้สึกเหนื่อยอย่างไม่มีเหตุผล
                                </div>
                            </div><!-- /col-md-7 column_area f_22 -->
                    
                            <div class="col-md-4 edit_area clearfix">
                                <div class="label_area">
                                    <input type="radio" name="question_25" id="faq25_1" value="1" class="radio-input" formControlName="question_25">
                                    <label for="faq25_1" class="radio-label ">
                                        {{'COMMON.YES'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                                <div class="label_area">
                                    <input type="radio" name="question_25" id="faq25_0" value="0" class="radio-input" formControlName="question_25">
                                    <label for="faq25_0" class="radio-label ">
                                        {{'COMMON.NO'|translate}}
                                    </label>
                                </div><!-- /label_area -->
                        
                                <!-- ↓↓「解説」ページへリンク↓↓ -->
                                <div class="come_btn">
                                    <input id="faq25_text" onclick="openbox('faq25_text')" type="button" value="解説">
                                </div>
                                <!-- ↑↑「解説」ページへリンク↑↑ -->	
                        
                            </div><!-- /col-md-4 edit_area clearfix -->
                    
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        
                       
                        <!-- ↑↑===== フッター Main Navigation ここまで ============================================↑↑ -->

                    </div>
                    <div class="card-footer border-light cart-panel-foo-fix">
                        <a [routerLink]="['/health/flail-a/index',examiner_id]" class="btn btn-info">กลับ</a>
                        <button type="submit" class="btn btn-primary float-right">ยืนยัน</button>
                    </div>
                </form>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    {{inputForm.value|json}}
</div>
