<div class="content-wrapper">
    <show-message [message]="message"></show-message>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">ข้อมูลผู้เข้าทดสอบ(แก้ไข)</h1>
                    
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink ="/master/location">ข้อมูลผู้เข้าทดสอบ</a></li>
                        <li class="breadcrumb-item active">แก้ไข</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- ↓↓===== Search area ===================================================↓↓ -->
            <div class="search card mb-4 p-0"><!-- /search -->
                <div class="card-body d-sm-flex justify-content-between"><!-- /card-body -->
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                <label>รหัสผู้เข้าทดสอบ : 11111111</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                <label>ชื่อ-นามสกุล : นายทดสอบ ได้ทั้งหมด</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /card-body -->
            </div><!-- /search -->
            <!-- ↑↑===== Search area ===================================================↑↑ -->
            <div class="card">
                <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" >
                    <div class="card-body card-checklist normal_question01_waku">
                        <div class="row input text">
                            <div class="col-md-12 edit_area form-inline">
                                実施日 : 
                                <input type="text" name="check_date" class="datepicker hasDatepicker" label="lbl_check_date 実施日" placeholder="" value="2021/02/28" id="dp1614517452707"></div>
                            </div>
                            <!-- ↓== 入力項目01 ここから==↓ -->
                            <div class="row input ml-2">
                                <div class="col-md-1 column_area column_number background_senior">
                                    01
                                </div><!-- /col-md-1 column_area column_number -->
                                <div class="col-md-7 column_area f_22 background_senior">
                                    <div class="fra_slide_q">
                                        バスや電車等を使って<span class="fra_list_q_none"><br></span>１人で外出していますか
                                    </div>
                                </div><!-- /col-md-7 column_area f_22 -->
                        
                                <div class="col-md-4 edit_area clearfix">
                                    <div class="label_area">
                                        <input type="radio" name="faq01" id="faq01_0" value="0" class="radio-input">
                                        <label for="faq01_0" class="radio-label ">
                                            はい
                                        </label>
                                    </div><!-- /label_area -->
                                    <div class="label_area">
                                        <input type="radio" name="faq01" id="faq01_1" value="1" class="radio-input">
                                        <label for="faq01_1" class="radio-label ">
                                            いいえ
                                        </label>
                                    </div><!-- /label_area -->
                                </div><!-- /col-md-4 edit_area clearfix -->
                            </div><!-- /row input ml-2 --> 
                            <!-- ↑== 入力項目 ここまで==↑ -->
                            <!-- ↓== 入力項目02 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        02</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">②</span>日用品の買い物を<span class="fra_list_q_none"><br></span>していますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq02" id="faq02_0" value="0" class="radio-input">
                        <label for="faq02_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq02" id="faq02_1" value="1" class="radio-input">
                        <label for="faq02_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq02_text" onclick="openbox('faq02_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目03 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        03</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">③</span>預貯金の出し入れをして<span class="fra_list_q_none"><br></span>いますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq03" id="faq03_0" value="0" class="radio-input">
                        <label for="faq03_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq03" id="faq03_1" value="1" class="radio-input">
                        <label for="faq03_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq03_text" onclick="openbox('faq03_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目04 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        04</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">④</span>友人の家を訪ねていますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq04" id="faq04_0" value="0" class="radio-input">
                        <label for="faq04_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq04" id="faq04_1" value="1" class="radio-input">
                        <label for="faq04_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq04_text" onclick="openbox('faq04_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目05 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        05</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑤</span>家族や友人の相談にのって<span class="fra_list_q_none"><br></span>いますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq05" id="faq05_0" value="0" class="radio-input">
                        <label for="faq05_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq05" id="faq05_1" value="1" class="radio-input">
                        <label for="faq05_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq05_text" onclick="openbox('faq05_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目06 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        06</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑥</span>階段を手すりや壁を<span class="fra_list_q_none"><br></span>つたわらずに昇っていますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq06" id="faq06_0" value="0" class="radio-input">
                        <label for="faq06_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq06" id="faq06_1" value="1" class="radio-input">
                        <label for="faq06_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq06_text" onclick="openbox('faq06_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目07 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        07</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑦</span>椅子に座った状態から<span class="fra_list_q_none"><br></span>何もつかまらずに立ち上がって<span class="fra_list_q_none"><br></span>いますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq07" id="faq07_0" value="0" class="radio-input">
                        <label for="faq07_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq07" id="faq07_1" value="1" class="radio-input">
                        <label for="faq07_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq07_text" onclick="openbox('faq07_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目08 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        08</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑧</span>15分くらい続けて歩いて<span class="fra_list_q_none"><br></span>いますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq08" id="faq08_0" value="0" class="radio-input">
                        <label for="faq08_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq08" id="faq08_1" value="1" class="radio-input">
                        <label for="faq08_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq08_text" onclick="openbox('faq08_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目09 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        09</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑨</span>この１年間に転んだことが<span class="fra_list_q_none"><br></span>ありますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq09" id="faq09_1" value="1" class="radio-input">
                        <label for="faq09_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq09" id="faq09_0" value="0" class="radio-input">
                        <label for="faq09_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq09_text" onclick="openbox('faq09_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目10 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        10</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑩</span>転倒に対する不安は大きい<span class="fra_list_q_none"><br></span>ですか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq10" id="faq10_1" value="1" class="radio-input">
                        <label for="faq10_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq10" id="faq10_0" value="0" class="radio-input">
                        <label for="faq10_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq10_text" onclick="openbox('faq10_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目11 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        11</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑪</span>６ヶ月間で２～３㎏以上の<span class="fra_list_q_none"><br></span>体重減少がありましたか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq11" id="faq11_1" value="1" class="radio-input">
                        <label for="faq11_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq11" id="faq11_0" value="0" class="radio-input">
                        <label for="faq11_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq11_text" onclick="openbox('faq11_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目12 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        12</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="form-group bmd-form-group">
                        <div style="margin-bottom: 1rem">身長と体重を入力して下さい</div>
                        <table border="0">
                        <tbody><tr>
                        <td>身長 <input type="text" name="cm" id="cm" min="100" max="200" class="form-control number-only" style="width:4em!important; margin-right: 3px;" required="required" value="">cm、</td>
                        <td>体重 <input type="text" name="kg" id="kg" min="20" max="200" class="form-control number-only" style="width:4em!important; margin-right: 3px;" required="required" value="">kg</td>
                        </tr>
                        <tr>
                        <td class="number_pad">
                        <div class="mx-auto p-0 " style="width: 180px;">
                            <div class="row mb-1 mt-2">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('1', 'cm')">1</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('2', 'cm')">2</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('3', 'cm')">3</button></div>
                            </div><!-- //row -->
                        
                            <div class="row mb-1">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('4', 'cm')">4</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('5', 'cm')">5</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('6', 'cm')">6</button></div>
                            </div><!-- //row -->
                        
                            <div class="row mb-1">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('7', 'cm')">7</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('8', 'cm')">8</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('9', 'cm')">9</button></div>
                            </div><!-- //row -->
                        
                            <div class="row mb-4">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('0', 'cm')">0</button></div>
                                <div class="col-md-2 mr-1">
                                    <button type="button" onclick="numberPad('.', 'cm')" style="width: 30px;">.</button>
                                </div>
                                <div class="col-md-6 m-0 number_pad_clearbutton">
                                    <button type="button" onclick="numberPad('clear', 'cm')">
                                        <span class="p-0 m-0">クリア</span>
                                    </button>
                                </div>
                            </div>
                        </div><!-- //col-md-4 -->
                        </td>
                        <td class="number_pad">
                        <div class="mx-auto p-0 " style="width: 180px;">
                            <div class="row mb-1 mt-2">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('1', 'kg')">1</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('2', 'kg')">2</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('3', 'kg')">3</button></div>
                            </div><!-- //row -->
                        
                            <div class="row mb-1">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('4', 'kg')">4</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('5', 'kg')">5</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('6', 'kg')">6</button></div>
                            </div><!-- //row -->
                        
                            <div class="row mb-1">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('7', 'kg')">7</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('8', 'kg')">8</button></div>
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('9', 'kg')">9</button></div>
                            </div><!-- //row -->
                        
                            <div class="row mb-4">
                                <div class="col-md-2 mr-3"><button type="button" onclick="numberPad('0', 'kg')">0</button></div>
                                <div class="col-md-2 mr-1">
                                    <button type="button" onclick="numberPad('.', 'kg')" style="width: 30px;">.</button>
                                </div>
                                <div class="col-md-6 m-0 number_pad_clearbutton">
                                    <button type="button" onclick="numberPad('clear', 'kg')">
                                        <span class="p-0 m-0">クリア</span>
                                    </button>
                                </div>
                            </div>
                        </div><!-- //col-md-4 -->
                        </td>
                        </tr>
                        </tbody></table>
                        <input type="hidden" name="bmi" id="bmi" class="form-control number-only" style="width:4em!important; margin-right:1em;">
                        BMI：<label id="bmi_text" style="display:inline-block; width:4em; vertical-align:middle; height: 1.8rem; margin-top: 6px;margin-right: 6px; padding-top:1px; text-align: center; border-bottom: 2px #DCEAF2 solid; " class="bmd-label-static"></label><span class="f_16 mt-2">※参考：BMI &lt; 18.5が低栄養</span>
                        
                        </div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area" style="display: none;">
                        <input type="radio" name="faq12" id="faq12_1" value="1" class="radio-input" checked="">
                        <label for="faq12_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目13 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        13</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑬</span>半年前に比べて固いものが<span class="fra_list_q_none"><br></span>食べにくくなりましたか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq13" id="faq13_1" value="1" class="radio-input">
                        <label for="faq13_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq13" id="faq13_0" value="0" class="radio-input">
                        <label for="faq13_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq13_text" onclick="openbox('faq13_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目14 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        14</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑭</span>お茶や汁物等でむせることが<span class="fra_list_q_none"><br></span>ありますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq14" id="faq14_1" value="1" class="radio-input">
                        <label for="faq14_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq14" id="faq14_0" value="0" class="radio-input">
                        <label for="faq14_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq14_text" onclick="openbox('faq14_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目15 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        15</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑮</span>口の渇きが気になりますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq15" id="faq15_1" value="1" class="radio-input">
                        <label for="faq15_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq15" id="faq15_0" value="0" class="radio-input">
                        <label for="faq15_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq15_text" onclick="openbox('faq15_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目16 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        16</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑯</span>週に１回以上は外出して<span class="fra_list_q_none"><br></span>いますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq16" id="faq16_0" value="0" class="radio-input">
                        <label for="faq16_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq16" id="faq16_1" value="1" class="radio-input">
                        <label for="faq16_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq16_text" onclick="openbox('faq16_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目17 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        17</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑰</span>昨年と比べて外出の回数が<span class="fra_list_q_none"><br></span>減っていますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq17" id="faq17_1" value="1" class="radio-input">
                        <label for="faq17_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq17" id="faq17_0" value="0" class="radio-input">
                        <label for="faq17_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq17_text" onclick="openbox('faq17_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目18 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        18</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑱</span>周りの人から<span class="fra_list_q_none"><br></span>「いつも同じことを聞く」などの<span class="fra_list_q_none"><br></span>物忘れが あると言われますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq18" id="faq18_1" value="1" class="radio-input">
                        <label for="faq18_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq18" id="faq18_0" value="0" class="radio-input">
                        <label for="faq18_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq18_text" onclick="openbox('faq18_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目19 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        19</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑲</span>自分で電話番号を調べて、<span class="fra_list_q_none"><br></span>電話をかけることをしていますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq19" id="faq19_0" value="0" class="radio-input">
                        <label for="faq19_0" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq19" id="faq19_1" value="1" class="radio-input">
                        <label for="faq19_1" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq19_text" onclick="openbox('faq19_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目20 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        20</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">⑳</span>今日が何月何日か<span class="fra_list_q_none"><br></span>わからない時がありますか</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq20" id="faq20_1" value="1" class="radio-input">
                        <label for="faq20_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq20" id="faq20_0" value="0" class="radio-input">
                        <label for="faq20_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq20_text" onclick="openbox('faq20_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目21 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        21</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">㉑</span>（ここ２週間）<span class="fra_list_q_none"><br></span>毎日の生活に充実感がない</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq21" id="faq21_1" value="1" class="radio-input">
                        <label for="faq21_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq21" id="faq21_0" value="0" class="radio-input">
                        <label for="faq21_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq21_text" onclick="openbox('faq21_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目22 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        22</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">㉒</span>（ここ２週間）<span class="fra_list_q_none"><br></span>これまで楽しんでやれていたことが<span class="fra_list_q_none"><br></span>楽しめなくなった</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq22" id="faq22_1" value="1" class="radio-input">
                        <label for="faq22_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq22" id="faq22_0" value="0" class="radio-input">
                        <label for="faq22_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq22_text" onclick="openbox('faq22_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目23 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        23</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">㉓</span>（ここ２週間）<span class="fra_list_q_none"><br></span>以前は楽にできていたことが今では<span class="fra_list_q_none"><br></span>おっくうに感じられる</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq23" id="faq23_1" value="1" class="radio-input">
                        <label for="faq23_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq23" id="faq23_0" value="0" class="radio-input">
                        <label for="faq23_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq23_text" onclick="openbox('faq23_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目24 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        24</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">㉔</span>（ここ２週間）<span class="fra_list_q_none"><br></span>自分が役に立つ人間だと思えない</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq24" id="faq24_1" value="1" class="radio-input">
                        <label for="faq24_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq24" id="faq24_0" value="0" class="radio-input">
                        <label for="faq24_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq24_text" onclick="openbox('faq24_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        <!-- ↓== 入力項目25 ここから==↓ -->
                        <div class="row input ml-2">
                        
                        <div class="col-md-1 column_area column_number background_senior">
                        25</div><!-- /col-md-1 column_area column_number -->
                        
                        <div class="col-md-7 column_area f_22 background_senior">
                        <div class="fra_slide_q"><span class="q_number">㉕</span>（ここ２週間）<span class="fra_list_q_none"><br></span>わけもなく疲れたような感じがする</div></div><!-- /col-md-7 column_area f_22 -->
                        
                        <div class="col-md-4 edit_area clearfix">
                        <div class="label_area">
                        <input type="radio" name="faq25" id="faq25_1" value="1" class="radio-input">
                        <label for="faq25_1" class="radio-label ">
                        はい</label>
                        </div><!-- /label_area -->
                        <div class="label_area">
                        <input type="radio" name="faq25" id="faq25_0" value="0" class="radio-input">
                        <label for="faq25_0" class="radio-label ">
                        いいえ</label>
                        </div><!-- /label_area -->
                            
                        <!-- ↓↓「解説」ページへリンク↓↓ -->
                        <div class="come_btn">
                        <input id="faq25_text" onclick="openbox('faq25_text')" type="button" value="解説">
                        </div>
                        <!-- ↑↑「解説」ページへリンク↑↑ -->	
                            
                        </div><!-- /col-md-4 edit_area clearfix -->
                        
                        </div><!-- /row input ml-2 -->
                        <!-- ↑== 入力項目 ここまで==↑ -->
                        
                       
                        <!-- ↑↑===== フッター Main Navigation ここまで ============================================↑↑ -->
                        
                        
                        
                        
                        </div>
                    <div class="card-footer border-light cart-panel-foo-fix">
                        <a [routerLink]="['/health/examiners']" class="btn btn-info">กลับ</a>
                        <button type="submit" class="btn btn-primary float-right">ยืนยัน</button>
                    </div>
                </form>
            </div>
        </div>
        
    </section>
    <!-- /.content -->

</div>
