
<show-message [message]="message"></show-message>
<form name="frmLogin" [formGroup]="inputForm">
<!-- ============↓↓一覧記述↓↓============ -->
<div class="submain">

    <div class="login_input_area">
        <div class="card-header">เข้าใช้งานระบบ</div>
        <div class="login_user_icon">&nbsp;</div>
        <div class="field">
            <label class="label">รหัสผู้ใช้งานระบบ</label>
            <input type="text" formControlName="login_name" required="required" placeholder="IDสำหรับเข้าใช้งานระบบ" value="">
            <label class="label ">รหัสผ่าน</label>
            <input type="password" formControlName="login_pwd" required="required" placeholder="รหัสผ่านสำหรับเข้าใข้งานระบบ" value="">
            <div class="modoru" style="text-align:center;">
                <button class="button_login  f_14 btn" (click)="onLogin()">เข้าใช้งานระบบ</button>
            </div>
            <!-- 
            <a class="button_login  f_14 btn " id="button_login" p-3 href="javascript:void(0);" onclick="document.forms[0].submit();">ログイン</a>
             -->
        </div> <!-- modoru -->
    </div>
</div>
<!-- submenu -->
<!-- ============↑↑一覧記述↑↑============ -->

</form>














