<app-header></app-header>
<show-message [message]="message"></show-message>

<form class="example-form" [formGroup]="inputForm" (ngSubmit)="onSubmit()" >

    <!-- ↓↓===== Page Title ===================↓↓ -->
    <div class="row wow pagetitle ml-2 mr-2 p-0">
    
    <div class="col-sm-4"><h1 id="title" name="title">ข้อมูลลูกค้า เพิ่ม/แก้ไข</h1></div>
    
    </div><!-- /row wow -->
    <!-- ↑↑===== Page Title ===================↑↑ -->
    
    <!-- ↓↓===== Main layout ここから ==========================================================↓↓ -->
    <main class="pt-0 mx-lg-0">
    <div class="container-fluid">
    
    <!-- ↓== Input Data ==↓ -->
    <div class="card col-12" style="margin-bottom: 6em">
    <div class="card-body">
    
    <div class="row input required">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">รหัสลูกค้า</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="customer_code">
                <mat-error *ngIf="inputForm.controls['customer_code'].hasError('required')">
                    กรุณาใส่ข้อมูล
                </mat-error>
                <mat-error *ngIf="inputForm.controls['customer_code'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 50 ตัวอักษร
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row input required">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">ชื่อลูกค้า</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="customer_name">
                <mat-error *ngIf="inputForm.controls['customer_name'].hasError('required')">
                    กรุณาใส่ข้อมูล
                </mat-error>
                <mat-error *ngIf="inputForm.controls['customer_name'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 200 ตัวอักษร
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">ที่อยู่</label>
        </div>
        <div class="col-md-9 edit_area">
			<textarea formControlName="address" class="input_textarea" ></textarea>
			<div *ngIf="submitted && inputForm.controls['address'].hasError">
                <span class="help" *ngIf="inputForm.controls['address'].hasError('maxlength')">ใส่ได้ไม่เกิน 200 ตัวอักษร</span>
            </div>
            
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">รหัสไปรษณีย์</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="post_code">
                <mat-error *ngIf="inputForm.controls['post_code'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 10 ตัวอักษร
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">เบอร์โทร</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="tel_no">
                <mat-error *ngIf="inputForm.controls['tel_no'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 50 ตัวอักษร
                </mat-error>
            </mat-form-field>
            
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">FAX</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="fax_no">
                <mat-error *ngIf="inputForm.controls['fax_no'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 50 ตัวอักษร
                </mat-error>
            </mat-form-field>

        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">E-Mail</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="e_mail">
                <mat-error *ngIf="inputForm.controls['e_mail'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 100 ตัวอักษร
				</mat-error>
				<mat-error *ngIf="inputForm.controls['e_mail'].hasError('email')">
                    ใส่ Email ไม่ถูกต้อง
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">ชื่อคนติดต่อ</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="contact">
                <mat-error *ngIf="inputForm.controls['contact'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 100 ตัวอักษร
                </mat-error>
            </mat-form-field>
           
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">ระยะเวลาขนส่ง</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="delivery_time" (keypress)="keyPress($event)">
				<mat-error *ngIf="inputForm.controls['delivery_time'].hasError('max')">
                    ห้ามใส่ค่าเกิน 999
                </mat-error>
			</mat-form-field>
			วัน
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">เลขที่ภาษี</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="tax_id">
                <mat-error *ngIf="inputForm.controls['tax_id'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 20 ตัวอักษร
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">รายละเอียดการจ่ายเงิน</label>
        </div>
        <div class="col-md-9 edit_area">
			<mat-form-field floatLabel="never" appearance="outline">
                <input matInput class="mat-input" formControlName="payment_tearm">
                <mat-error *ngIf="inputForm.controls['payment_tearm'].hasError('maxlength')">
                    ใส่ได้ไม่เกิน 200 ตัวอักษร
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row input">
        <div class="col-md-3 label_name column_area f_16" id="lbl_login_id" for="login-id">
            <label class="control-label">หมายเหตุ</label>
        </div>
        <div class="col-md-9 edit_area">
			<textarea formControlName="remark" class="input_textarea" ></textarea>
            <span class="help"></span>
        </div>
    </div>
    
    
    </div>
    </div>
   
    {{inputForm.value|json}}

    
    </div><!-- /card-body -->
    <!-- /"card col-12 -->
    <!-- ↑== Input Data ==↑ -->
    
    <!-- ↓↓===== フッター footer Navigation ここから ==========================================↓↓ -->
    <footer>
    
    <!-- ↓== 確認・登録ボタン等 ここから==↓ -->
    <div class="footer_btn_area fixed-bottom">
    
    <div class="row m-2">
    <div class="col-md-6"><a [routerLink]="['/system/customer/list']" class="btn btn-sm btn-back" id="btnReturn">กลับ</a></div>
    <div class="col-md-6"><button class="btn btn-primary btn_edit" id="btnSubmit" type="submit">บันทึก</button></div>
    </div><!-- /row m-2 -->
    
    </div><!-- /footer_btn_area fixed-bottom -->
    <!-- ↑== 確認・登録ボタン等 ここから==↑ -->
    
    
    </footer>
    <!-- ↑↑===== フッター Main Navigation ここまで ============================================↑↑ -->
    
    
    
    
    <!-- /container-fluid -->
    </main><!-- /main -->
    <!-- ↑↑===== Main layout ここから ==========================================================↑↑ -->
</form>

