@charset "utf-8";

/*
---------------------------------------
# SiteName: エッグ 管理者画面
# Page: 共通箇所
# /css/style-egg.css
# Update: 2018.11.12
# Editor: Shimizu
# History: 
---------------------------------------
*/


/* ========================================================================== */
/* 01) 基礎設定 サイト全体 */
/* ========================================================================== */


/* -- 各ブラウザ向け フォント指定 -- */
* html body {
font: 13px/16px "Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif;
vertical-align: baseline;
text-align: center;
}

/* クラシックブラウザ用 */
*:first-child+html body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}
html>/**/body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}

/* Firefox等 モダンブラウザ用 */
html:not(:target) body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}
pre{ font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}




form{
	margin:  0px; 
	padding: 0px; 
	list-style: none; 
}
img { margin:0px; padding:0px; 	border: 0; }

.c {	text-align:center!important;}
.r {	text-align:right!important;}
.l {	text-align:left!important;}

.f_10{ font-size:10px!important; line-height:13px!important;}
.f_11{ font-size:11px!important; line-height:14px!important;}
.f_12{ font-size:12px!important; line-height:16px!important;}
.f_13{ font-size:13px!important; line-height:20px!important;}
.f_14{ font-size:14px!important; line-height:20px!important;}
.f_16{ font-size:16px!important; line-height:22px!important;}
.f_18{ font-size:18px!important; line-height:24px!important;}
.f_20{ font-size:20px!important; line-height:26px!important;}
.f_22{ font-size:22px!important; line-height:130%!important;}
.f_24{ font-size:24px!important; line-height:125%!important;}
.f_26{ font-size:26px!important; line-height:125%!important;}
.f_28{ font-size:28px!important; line-height:125%!important;}


.abbr,.abbreviation{
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin:0;
	padding:0;
}
.page-link{padding: 0.15rem 0.5rem; }






/*----------------------------
   テーブル 基本記述
-----------------------------*/
.table{ width:auto;  border-collapse: collapse;}
.table thead th,
.table TH {
    border: 1px solid #B6B4B6;
    border-bottom: 1px #B6B4B6 solid;
    background: #ECF3EF;
    color: #333 !important;
	font-weight: normal!important;
    text-align: center;
}

.table TH,
.table TD{	font-size:14px; line-height: 18px;}

.table TH{word-wrap:normal!important;}
.table TH A:link,
.table TH A:visited { COLOR: #333!important; text-decoration: underline;}
.table TH A:hover,
.table TH A:active { COLOR: #800040!important; }


.table > tbody > tr > td, .table td{
border-color: #E2E2E2!important;
border-left-color:#dedede!important;
border-right-color:#dedede!important;
word-wrap:break-word!important;
word-break: break-all;
}

.table > tbody > tr > td.t-border-right, .table td.border-right{
border-color: #E2E2E2!important;
border-left-color:#dedede!important;
border-right-color:#dedede!important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(125, 125, 125, 0.05);
}



/* 一覧　表 */
.table-striped .btn.btn-primary {
    background-color: #00826B !important;
    border-color: #00826B !important;
}





.column_area{
padding: .75rem 0.5rem;
margin-bottom: 0;
background-color: rgba(0,0,0,.03);
border-bottom: 1px solid rgba(0,0,0,.125);
}
.edit_area{
padding: .75rem 1.25rem;
margin-bottom: 0;
border-bottom: 1px solid rgba(0,0,0,.125);
}

.edit_area .custom-radio{ margin-bottom:16px;
}

.fixed-top {
    position: fixed;
    top: 0;  right: 0;  left: 0;
    z-index: 1030;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;  right: 0;  left: 0;
    z-index: 1030;
}



/* ========================================================================== */
/* 01-01) 基礎設定 入力関係 */
/* ========================================================================== */

.form-group{ margin-right: 160px; }
.search .form-control{max-width: 180px;}
.form-control{ width: auto!important; display:inline!important;}


/* padding 余白  */
input[type="text"],
input[type="password"],
input[type="text"].form-control{padding: 0rem 0.3rem;}
select,
select.form-control{ width: auto; padding-right: 0.5rem;}
select option,
select.form-control { font-size: 16px!important; line-height: 20px;}

/*----------------------------
   input 1行テキスト
-----------------------------*/

input[type="password"],
input[type="text"],
textarea,
.form-control {
  display: block;
  width:auto; max-width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		margin-left:2px; margin-right:2px;
	vertical-align:middle;
}

@media screen and (prefers-reduced-motion: reduce) {
input[type="text"],
input[type="password"],
  .form-control { transition: none;  }
}


input[type="text"]::-ms-expand,
input[type="password"]::-ms-expand,
.form-control::-ms-expand {  background-color: transparent;  border: 0;}


.checkbox label:hover,
.radio label:hover,
.search label:hover,
input:hover,
input:active,
label:hover,
label:active,
select:hover,
select:active,
textaria:hover,
textaria:active{cursor : pointer;}


/*----------------------------
   textarea テキストエリア
-----------------------------*/
textarea{  padding:10px 6px 2px 6px; line-height:16px; 
 -moz-border-radius:2px;
 -webkit-border-radius:2px;
 border-radius:2px;
 border: 1px solid #999;
 background-color: #fff;
 font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
 overflow: auto;
 resize: vertical;
 width: 99%!important;
 line-height: 23px;
}
textarea.form-control {width:100%!important; padding:5px!important;background-color: #fff;}
textarea,.search .form-control {width:100%!important;}


input::-ms-clear {visibility:hidden; display: none;}
 
/*----------------------------
   select セレクト
-----------------------------*/
select,
select.form-control,
.custom-select {
  display: inline-block;
  width:auto;
  height: calc(2rem);
  padding: 0.2rem 2px 0.2rem 0px;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

}


/*----------------------------
   checkbox チェックボックス
-----------------------------*/


.checkbox input[type=checkbox] {
    vertical-align: middle;
    display: inline-block;
    width:16px;
    height:16px;
				font-size: 16px;
    margin-right:5px;
    border:2px solid #979797;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: -3px;
    background: #FFFFFF;
}
.search input[type=checkbox] {margin-right:1px;}


.checkbox01-input{display: none;}
.checkbox01-parts{
padding-left: 20px; margin-right: 20px;
position:relative;
}
.checkbox01-parts::before{
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 15px;
height: 15px;
border: 1px solid #999;
border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts{
color: #009a9a;
}
.checkbox01-input:checked + .checkbox01-parts::after{
content: "";
display: block;
position: absolute;
top: -5px;
left: 5px;
width: 7px;
height: 14px;
transform: rotate(40deg);
border-bottom: 3px solid #009a9a;
border-right: 3px solid #009a9a;
}


/*----------------------------
   radio ラジオボタン
-----------------------------*/

input[type=radio] {
    vertical-align: middle;
    display: inline-block;
    width:18px;
    height:18px;
				font-size: 18px;
    margin-right:4px;
    border:2px solid #979797;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: -3px;
    background: #FFFFFF;
}
.search input[type=radio] {margin-right:1px;}

.radio label{ margin-right:1.25rem;}



/*--------------------------------------------------------
   placeholder 入力例 ※,で纏めると反映しないので個々に記述
---------------------------------------------------------*/

input:-ms-input-placeholder{color:#ccc!important; opacity:1;} 
input[type="text"]::placeholder { color: #ccc!important; opacity:1;}
input[type="password"]::placeholder { color: #ccc!important; opacity:1;}
.form-control::placeholder { color: #ccc!important; opacity:1;}
.form-control::-webkit-input-placeholder { color: #ccc!important; opacity:1;}
.form-control::-moz-placeholder { color: #ccc!important; opacity:1;}
.form-control:-ms-input-placeholder { color: #ccc!important; opacity:1;}
.form-control::-ms-input-placeholder { color: #ccc!important; opacity:1;}
.form-control::placeholder { color: #ccc!important; opacity:1;}

/*
.collar_gray input:-ms-input-placeholder{color:#777; opacity:1;} 
.collar_gray input[type="text"]::placeholder { color: #777!important; opacity:1;}
.collar_gray input[type="password"]::placeholder { color: #777!important; opacity:1;}
.collar_gray .form-control::placeholder { color: #777!important; opacity:1;}
.collar_gray .form-control::-webkit-input-placeholder { color: #777!important; opacity:1;}
.collar_gray .form-control::-moz-placeholder { color: #777!important; opacity:1;}
.collar_gray .form-control:-ms-input-placeholder { color: #777!important; opacity:1;}
.collar_gray .form-control::-ms-input-placeholder { color: #777!important; opacity:1;}
.collar_gray .form-control::placeholder { color: #777!important; opacity:1;}
*/

/*----------------------------
  disabled 入力禁止
-----------------------------*/
input[type="text"]:disabled,
.form-control:disabled{
  background-color: #e9ecef;
  opacity: 1;
}

input[type="text"][readonly],
.form-control[readonly] {
  background-color: #FAFAFA;
  color: #333;
  opacity: 1;
}

textarea:disabled,
textarea.form-control:disabled,
.custom-select:disabled,
.disabled textarea,
select:disabled,
select.form-control:disabled,
.custom-select:disabled,
.disabled select{ background-color: #F0F0F0; color: #ccc!important; }



/*----------------------------
  focus フォーカス時
-----------------------------*/

input[type="text"]:focus,
input[type="password"]:focus,
.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

select:focus,
input[type="file"]:focus{  background-color: #FFFDDD;}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

/*----------------------------
  各入力フォーム 文字数設定
-----------------------------*/
/* 日にち */
#base-age{max-width:3.5em;}
.datepicker{max-width:9.5em!important; ime-mode:disabled;}

.login input{ width: 100%;} 

#loginid,
#password{max-width:16em;}
#age{max-width:7.5em!important;}

#user-name,
#user-name-kana{max-width:30em;}
.number,
.post_cd{ime-mode:disabled}

input[name="post_cd"] {
max-width:6em!important; ime-mode:disabled;
}


select[name="gender"] {max-width:4.5em!important;}



/*----------------------------
  その他
-----------------------------*/
.multiple_select{ padding-right: 0px!important;}
.column_area.required label,
.label_name.required label,
.required label{max-width:calc(100% - 40px);}
.column_area.required::before,
.label_name.required::before,
.required .label_name::before {
    content:'ต้องระบุ'; vertical-align: middle;
    float: right;
    font-size: 10px; line-height: 13px;
    color: #fff;
    background-color: #F3989B;
    border: 1px solid #F3989B;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:2px 2px 2px 2px;
    margin-right:6px;
    margin-top: 3px;
    }
.required input:focus{}

.form-inline label{ margin-right: 1rem;}

.sortout_text label { margin-right: 1rem;}



/* ========================================================================== */
/* 03) 基礎設定 ボタン関係記述 */
/* ========================================================================== */

/* 小ボタン */
.btn.btn-sm, .btn-group-sm > .btn, .btn-group-sm .btn {
    padding: 0.1rem 0.6rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 2px;
}



.btn .material-icons,
.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
}


/* 登録ボタン */
.btn.btn-warning.btn-add{padding:5px 12px; line-height: 110%; font-size:14px; letter-spacing:0px;}
.btn-add::before {
    content:'\e148'; margin-right:2px; vertical-align: middle;
				font-size:18px; line-height: 18px; margin-left: -5px;
    font-family: "Material Icons";
    }

.btn_main_menu{width: 95%; max-width: 800px; margin: auto;}
.btn_main_menu a{ font-size: 20px;}


btn,.btn.btn-default{
    color: #fff;
    background-color: #636363;
    border-color: #636363;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}


.btn_main_menu a.top-btn-sys{padding:22px 20px;
font-size: 16px; 
  background: #F7F7F7;
  border-color: #9782C3;
  color: #777;/*文字色*/
}
.btn_main_menu a.top-btn-sys:hover{
  background: #9782C3;
  color: #fff;/*文字色*/
}

.btn.btn-primary {
    color: #fff;
    background-color: #4485F2!important;
    border-color: #4485F2!important;
				}

.btn.btn-primary:hover{
    color: #fff;
    background-color: #3B5998!important;
    border-color: #3B5998!important;
				}



.btn.btn-primary_off{
    color: #fff;
    background-color: #536B92!important;
    border-color: #536B92!important;
				}

.btn.btn-primary_off:hover{
    color: #fff;
    background-color: #3B5998!important;
    border-color: #3B5998!important;
				}

	
.btn:focus,tn-default:focus,
.btn.btn-default.focus,
.btn.btn-default:hover {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
}





input[type="button"],
input[type="submit"]{ padding:8px; line-height:16px;} 
input[type="checkbox"]{ font-size:24px; line-height:24px; height:18px; width:18px; margin-right: 3px; vertical-align: middle; margin-top: -2px;} 
textarea,
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #fff;
  border: 1px solid #cccccc; border-color:#abadb3 #c1c2cb #c8cfd6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}


/* ========================================================================== */
/* 04)基本枠 contents */
/* ========================================================================== */


/* ========================================================================== */
/* 05) ヘッダー header */
/* ========================================================================== */
/* サイトタイトル部  */
.white-text {  color: #fff!important; }

/* ヘッダー部  */
.navbar{ margin-bottom:0px!important; background-color: #fff; }
.main_header_color{ background-color: #fff; color: #333; line-height:1.2;}

.navbar.main_menu_color{
background-color:#ECF3EF; color: #333; margin-bottom:0px!important;

border-top:1px #83CFC2 dotted;
border-bottom:4px #A7C7B5 solid;

}
.main_menu{ display: block!important; width: 100%; clear: both!important;}

.nav-link{padding: 0.1rem 0.5rem;}



.site_logo{ width:360px; 
position: relative;
font-size:20px; line-height: 105%; margin:5px 10px 5px 5px;
text-transform: uppercase;
border-radius: 3px;
color: inherit;
padding:0.35rem 0rem 0.20rem 32px;
background-repeat:no-repeat;
background-position: center left;
background-size:contain;
background-image:url(../../assets/img/symbol_yonago.svg);
}


.nav-item_right{ background-color: #296BAA; padding: 3px 6px;}

/* ヘッダー部 リンク色  */
a.site_logo:link,
a.site_logo:visited { COLOR: #666!important; text-decoration: none;}
a.site_logo:hover,
a.site_logo:active { COLOR: #FFCC00!important; text-decoration: none; }


/* ヘッダー部 リンク色  */
.main_color A:link,
.main_color A:visited { COLOR: #333!important;}
.main_color A:hover,
.main_color A:active { COLOR: #FFCC00!important; }

.h_user{ font-size: 16px; line-height: 16px;}
.h_user::before {
    content:'\e853'; color: #2FB589; vertical-align: middle;
	font-size:22px; line-height: 20px; margin-left:-2px; margin-right:4px;  margin-top:2px;
    font-family: "Material Icons";
	float: left;
}



.h_icon{
font-size:13px; line-height:110%;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 display: block;

 margin:2px 3px 0px 0px;
}



A.h_icon:link,
A.h_icon:visited{ transition: 0.3s; text-decoration: none; COLOR: #333!important; background-color:#F0F2F3;}
A.h_icon:hover,
A.h_icon:active { transition: 0.3s; text-decoration: none; COLOR: #fff!important; background-color:#009587;}
A.h_icon:hover::before ,
A.h_icon:active ::before { COLOR: #fff!important;transition: 0.3s; }

.h_icon_help{ padding: 4px 10px 4px 10px;}
a.h_icon_help::before {
    content:'\e887'; color: #A3A3A3; vertical-align: middle;
	font-size:16px; line-height:100%; margin-left:-2px; margin-right:4px;  margin-top:0px;
    font-family: "Material Icons";
	float: left;
    }

.h_icon_logoff{ padding: 4px 10px 3px 10px;}
a.h_icon_logoff::before {
    content:'\e566'; color: #A3A3A3; vertical-align: middle;
	font-size:18px; line-height:100%; margin-left:-2px; margin-right:2px;  margin-top:-1px;
    font-family: "Material Icons";
	float: left;
    }


a.h_icon_home::before {
    content:'\e88a'; color: #19A78E; vertical-align: middle;
				font-size:18px; line-height: 20px; margin-left:-2px; margin-right:3px;  margin-top:1px;
    font-family: "Material Icons";
				float: left;
    }

a.h_icon_faq::before {
    content:'\e0bf'; color: #19A78E; vertical-align: middle;
				font-size:20px; line-height: 20px; margin-left:-2px; margin-right:4px;  margin-top:0px;
    font-family: "Material Icons";
				float: left;
    }

a.h_icon_center::before {
    content:'\e7ef'; color: #19A78E; vertical-align: middle;
				font-size:20px; line-height: 20px; margin-left:-2px; margin-right:4px;  margin-top:1px;
    font-family: "Material Icons";
				float: left;
    }

a.h_icon_manual::before {
    content:'\e0e0'; color: #19A78E; vertical-align: middle;
				font-size:20px; line-height: 16px; margin-left:-2px; margin-right:4px;  margin-top:1px;
    font-family: "Material Icons";
				float: left;
    }


a.h_icon_master_kanri::before {
    content:'\e7fe'; color: #19A78E; vertical-align: middle;
				font-size:22px; line-height: 20px; margin-left:-2px; margin-right:1px;  margin-top:-1px;
    font-family: "Material Icons";
				float: left;
    }


a.h_icon_master::before {
    content:'\e8b8'; color: #56AD88; vertical-align: middle;
				font-size:20px; line-height: 20px; margin-left:-2px; margin-right:4px;  margin-top:0px;
    font-family: "Material Icons";
				float: left;
    }

.nav-tabs .nav-link { padding: 0.4rem 1rem 0rem 1rem; margin-right: 6px;
    color: #495057;
    background-color: #eee;
    border-color: #dee2e6;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link{border-bottom:1px solid #fff; background-color: #fff;}

.nav-tabs .nav-link:hover{ background-color: #FDE9A4; color: #aa0000;}


.navbar-light .navbar-brand{background-image:url(../../assets/img/symbol_yonago.svg);
	padding-left:35px;
	background-repeat:no-repeat;
	background-position:0px 7px;
	background-size:30px auto;
	
}

.navbar-light .navbar-toggler:hover .material-icons, .navbar-light .navbar-toggler:active .material-icons {
	COLOR: #FFF!important;
	
}


/* ========================================================================== */
/* 06)本文枠 main */
/* ========================================================================== */

/*----------------------------
   ページタイトル部
-----------------------------*/
.pagetitle{ border-bottom: 1px #C2C2C2 solid; margin:10px 0 6px 0;}
.pagetitle div{ padding: 0px!important; margin: 0px!important;}
.pagetitle h1{ font-size: 24px!important; line-height: 120%; padding:6px 0px 0px 2px; color: #00826B; }

h2.h2_title{
	font-size: 24px!important; 
	line-height: 120%; 
	padding:6px 0px 0px 2px; 
	color: #00826B; 
	border-bottom: 1px #00846C solid;
	margin-bottom:1.5rem;}

.card-body .tab-content h3{
	color: #00826B; 
	font-size:20px!important; 
	line-height: 120%;
	border-left:4px #4FA27E solid;
	padding:0px 10px;
	vertical-align: middle; 
	margin-left: 3px;
}


/* 小タイトル */
.container-fluid .card-body h2{
    color: #00826B;
    font-size: 20px;
    line-height: 120%;
    border-left: 4px #4FA27E solid;
    padding: 0px 10px;
    vertical-align: middle;
	margin: 5px 0px 15px 0px;
}
.container-fluid .card-body h2 span{
	color: #333 !important;
	font-size: 0.9rem;
	vertical-align: middle;
}





/*----------------------------------
   アップロード、ダウンロードボタン 
-----------------------------------*/

.pagetitle .btn{
    position: relative;
    display: inline-block;
    top: 0;
	margin-right: 3px;
    font-size:13px;
	line-height: 14px;
    vertical-align: middle;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color: #fff;
	color: #6D6D6D;				
}


.pagetitle .btn.btn-sm,
.pagetitle .btn-group-sm > .btn,
.pagetitle .btn-group-sm .btn {padding: 0.25rem 0.3rem 0.25rem 0.2rem;}
.btn.flailReport {width: 100%;}


/* アップロードボタン */
.pagetitle .btn.btn-upload{ 
	color: #fff;
    background-color:#00887A !important;
    border-color: #00887A!important;
}

.btn.btn-upload::before {
    content:'\e2c6'; 
	margin-right:1px; 
	vertical-align: middle;
	font-size:16px; 
	line-height: 16px;
    font-family: "Material Icons";
}


/* ダウンロードボタン */
.btn.btn-download {
    color: #fff;
    background-color: #5F686D!important;
    border-color: #5F686D!important;
				}
.btn.btn-download::before {
    content:'\e2c4'; margin-right:1px; vertical-align: middle;
				font-size:16px; line-height: 16px;
    font-family: "Material Icons";
}



/* プリントボタン */
.btn.btn-print {
    color: #fff;
    background-color: #5F686D!important;
    border-color: #5F686D!important;
				}
.btn.btn-print:before {
    content:'\e555'; margin-right:3px; vertical-align: middle;
				font-size:17px; line-height: 17px;
    font-family: "Material Icons";
}

.pagetitle .btn:hover,
.pagetitle .btn:active {
    color: #fff;
    background-color: #FF9800!important;
    border-color: #FF9800!important;
}



/*----------------------------------
   pagenation ページネーション部
-----------------------------------*/
.pagenation{ font-size: 13px!important; line-height: 16px!important; margin-top: 3px;}
.pagenation ol,
.pagenation ul,
.pagenation dl{
    margin-bottom:0.5rem;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2E78C1;
    border-color: #2E78C1;
}
.page-link{padding: 0.15rem 0.4rem; }
a.page-link{color: #0056b3;}

.page-link:hover {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
}

.page-item.disabled .page-link{color:#ccc;}


/* ========================================================================== */
/* 07) 検索エリア */
/* ========================================================================== */

/* -- 検索ボタン -- */
.btn-search{ font-size: 18px!important; line-height: 20px;}
.btn-search::before {
    content:'\e8b6'; margin-right:3px; vertical-align: middle;
				font-size:22px; line-height: 24px;
    font-family: "Material Icons";
}


.search .form-control,
.search input,
.search input[type="text"],
.search input[type="password"]{
margin: 1px 3px 2px 0px;
padding: 0rem 0.3rem;
height: calc(1.5rem + 2px);
font-size: 14px !important;
line-height: 120%;
width: 100%;
}

.search input[type=radio],
.search input[type=checkbox] {
    width:18px;
    height:18px;
    font-size: 14px;
    margin-right: 3px;
}

.search label{padding-right:1rem; vertical-align: middle;}

.search .custom-radio{ margin-right:1rem;;}
div.search .custom-control{min-height:1rem; }


div.search table{ margin:0px; padding:0px; border-collapse: separate; table-layout: fixed; width: auto!important;}

.container-fluid .search{margin-bottom: 0.5rem !important; padding:0.5rem !important; padding-left: 0rem!important;  padding-right: 0rem!important;}

.container-fluid .search .col-sm-2{padding-right:7px;}
.search .col-sm-10{ padding-left: 10px;}
.search .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #666;
}

.search input[type="password"],
.search input[type="text"],
.search textarea{width:98%;}
.search select,
.search .form-control {width: auto;}
.search select,
.search select.form-control{
height: calc(2rem);
padding: 0.2rem 2px 0.2rem 0.25rem;
line-height: 1.5;
max-width: 500px;
}


/*----------------------------
   検索項目 テーブル記述
-----------------------------*/
div.search table td,
div.search table th{	font-size:14px!important; line-height: 120%;white-space: nowrap !important;}
div.search table .form-control{	font-size:14px!important; line-height: 120%; max-width: 100%;}

div.search table tr{ margin:0px;}
div.search table td{ margin:0px; padding:2px 4px; vertical-align:middle; min-height:36px;}
div.search th{
 	background-color:#E9E9E9;
 	color: #333;
 	min-width:110px;
 	text-align:left;
 	font-weight:normal;
	-moz-border-radius:3px 3px;
	-webkit-border-radius:3px 3px;
	border-radius:3px 3px;
	border:1px #fff solid;
	padding:0px 5px;
	
}
div.search table td label{margin-top: 0.25rem; margin-bottom: 0.25rem;}



/* ========================================================================== */
/* 07) フッター footer */
/* ========================================================================== */


/*------------------------------------
   入力ページ 登録・戻るボタンエリア
-------------------------------------*/

.footer_btn_area{ padding: 0px; margin: 0px; background-color: #fff;}

/* 登録ボタン */
.footer_btn_area .btn.btn_edit,
.btn_edit{ border-color: #EC6063!important;
    background-color: #EC6063!important; color: #fff;
    float: right; width: 95%; max-width: 180px; font-size: 120%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 3px -3px rgba(7,50,115,.4);
	margin-bottom:0px;
	padding: 0.25rem 0.5rem;
}
.footer_btn_area .btn.btn_edit::before {
    content:'\e3c9'; margin-right:6px; vertical-align: middle;
    font-family: "Material Icons";
    }
.footer_btn_area .btn.btn_edit:hover,
.footer_btn_area .btn.btn_edit:focus{
    background-color: #FF9800!important;
	color: #fff; border-color: #FF9800 !important;
}


.btn_edit{ float: right; width: 95%; max-width: 150px; font-size: 110%;}
.btn_edit::before {
    content:'\e148'; margin-right:2px; vertical-align: middle;
				font-size:20px; line-height: 20px; margin-left: -5px;
    font-family: "Material Icons";
    }

/* 戻るボタン */

#btnReturn{
    background-color: #F0F0F0!important; color: #333; border-color: #F0F0F0;
    box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14);
}
#btnReturn::before {
    content:'\e314'; margin-right:0px; margin-left: -6px; vertical-align: middle;
    font-family: "Material Icons";
				font-size:20px; line-height:20px;
    }

#btnReturn:focus,
#btnReturn:hover{
    background-color: #FF9800!important; color: #fff; border-color: #FF9800;
	box-shadow: 0 14px 26px -12px rgba(35, 95, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(38, 95, 176, 0.2);
}


#btnRet{
    background-color: #F0F0F0!important; color: #333; border-color: #F0F0F0;
    box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14);
}
#btnRet::before {
    content:'\e314'; margin-right:0px; margin-left: -6px; vertical-align: middle;
    font-family: "Material Icons";
				font-size:20px; line-height:20px;
    }

#btnRet:focus,
#btnRet:hover{
    background-color: #FF9800!important; color: #fff; border-color: #FF9800;
	box-shadow: 0 14px 26px -12px rgba(35, 95, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(38, 95, 176, 0.2);
}

/* 次へボタン */
.footer_btn_area .btn.btn_next,
.btn_next{ border-color: #FBBF3D!important;
    background-color: #FBBF3D!important; color: #333;
    float: right; width: 95%; max-width: 180px; font-size: 110%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 3px -3px rgba(7,50,115,.4);
}
.footer_btn_area .btn.btn_next:after {
    content:'\e5cc'; margin-right:-3px; margin-left: -6px; vertical-align: middle;
    font-family: "Material Icons";
	font-size: 22px; line-height: 26px;
	float: right;
    }
.footer_btn_area .btn.btn_next:hover,
.footer_btn_area .btn.btn_next:focus{
    background-color: #FF9800!important;
	color: #fff; border-color: #FF9800!important;
}


/* 戻るボタン */
.footer_btn_area .btn.btn_back,
.btn_back{
    background-color: #F0F0F0!important; color: #333; border-color: #F0F0F0;
    box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14);
}
.footer_btn_area .btn.btn_back::before {
    content:'\e314'; margin-right:0px; margin-left: -6px; vertical-align: middle;
    font-family: "Material Icons";
	font-size:20px; line-height:20px;
    }
.footer_btn_area .btn.btn_back:focus,
.footer_btn_area .btn.btn_back:hover{
    background-color: #FF9800!important; color: #fff; border-color: #FF9800;
	box-shadow: 0 14px 26px -12px rgba(35, 95, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(38, 95, 176, 0.2);
}




/* ========================================================================== */
/* 09)トップページ TOP */
/* ========================================================================== */

.btn_main_menu .btn{
    background-color: #007A7F;
    border-color: #007A7F;
    color: #fff;
    text-align: left;
    font-size:22px; line-height: 130%;
}

.btn_main_menu .btn.topmenu_icon_list01{
    background-color: #26997B;
    border-color: #26997B;
    color: #fff;
    text-align: left;
    font-size:22px;
	line-height: 130%;
}


/* menu */

.container-fluid .btn:hover {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
}


.topmenu_icon_list:before,
.topmenu_icon_list01:before{
	font-family:"Material Icons";
	color: #888!important;
	background-color:#F4F4F4;
	text-align: center;
	-moz-border-radius:38px;
	-webkit-border-radius:38px;
	border-radius:38px;
    display: block!important;
    float: left;
	padding:0px;
	width:36px; height: 36px;
    vertical-align: middle;
    margin-top: -4px; margin-right:12px; margin-left:-4px;
}

.topmenu_icon_list01:before {
	color: #26997B!important;
	-moz-border-radius:38px;
	-webkit-border-radius:38px;
	border-radius:38px;
	width:28px; height:28px;
    margin-top:-1px; margin-right:14px; margin-left:-1px;
}

.topmenu_icon_master:before {
	font-size:30px; line-height:37px!important;
	content:"\e7fe";
}

.topmenu_icon_master01:before{
	font-size:30px; line-height:39px!important;
	content:"\e614";
}

.topmenu_icon_master02:before{
	font-size:22px; line-height:26px!important;
	content:"\e7fe";
}

.topmenu_icon_master03:before{
	font-size:24px; line-height:30px!important;
	content:"\e55b";
}
.topmenu_icon_master04:before{
	font-size:24px; line-height:30px!important;
	content:"\e7ee";
}
.topmenu_icon_master05:before{
	font-size:24px; line-height:30px!important;
	content:"\e548";
}
.topmenu_icon_master06:before{
	font-size:26px; line-height:30px!important;
	content:"\e7f1";
}

.topmenu_icon_manual02:before{
	font-size:22px; line-height:26px!important;
	content:"\e0e0";
}

.topmenu_icon_members:before {
	font-size:28px; line-height:34px!important;
	content:"\e0e0";
}

.topmenu_icon_manual:before {
	font-size:28px; line-height:34px!important;
	content:"\e0e0";
}

.topmenu_icon_faq:before {
	font-size:28px!important; line-height:38px!important;
	content:"\e0bf";
}

.topmenu_icon_faq:before {
	font-size:28px!important; line-height:38px!important;
	content:"\e0bf";
}

.topmenu_icon_faq02:before{
	font-size:21px; line-height:30px!important;
	content:"\e0bf";
}

/* ========================================================================== */
/* 08) 各ページ 共通 */
/* ========================================================================== */


.login_user_icon{ text-align: center; margin: auto;}
.login_user_icon::before {
content:"\e7fd";font-family:
"Material Icons";
color: #999!important;
background-color:#F4F4F4;
font-size:120px;
	-moz-border-radius:120px;
	-webkit-border-radius:120px;
	border-radius:120px;

	padding: 10px;
	width: 100px; height: 100px;
	margin: auto;
}

label{ color: #333!important;}

.search .card-body{padding:0rem;}
.search .col-sm-2{ max-width:175px;}

.btn.btn-disable,
.btn.btn-disable:focus,
.btn.btn-disable.focus,
.btn.btn-disable:hover {
    color: #C3C3C3;
    background-color: #FAFAFA;
    border-color: #E4E4E4;
				box-shadow: 0 0px 0px 0px rgba(153, 153, 153, 0.42);
}

.material-icons{font-family: "Material Icons";}

.btn.btn-clear,
.btn.btn-clear:focus,
.btn.btn-clear.focus,
.btn.btn-clear:hover {
    color:#333;
    background-color: #F5F5F5;
    border:1px #EAE7E7 solid;
				box-shadow: 0 0px 0px 0px rgba(153, 153, 153, 0.42);
}
.btn-search{max-width: 145px; font-size:110%; float: right; margin-bottom: 6px!important;}
.btn-clear{max-width: 145px; font-size:110%; float: right; margin-bottom: 6px!important;}
.sort-area{ font-size: 13px!important; line-height: 14px;padding: 0!important; float: right; width:145px;}

.sort-area select{ padding: 2px!important; font-size: 13px; line-height: 15px;}

.asc:after {content: " \25B2"; font-size:8px!important; line-height: 12px!important; margin-left: -1px;}
.desc:after {content: " \25BC"; font-size: 8px!important; line-height: 12px!important;  margin-left: -1px;}

main{ padding-bottom:300px;}

.search .label_name{
	padding: 2px 5px ;
	background-color: #F7F7F7;
	-moz-border-radius:3px 3px;
	-webkit-border-radius:3px 3px;
	border-radius:3px 3px;
	line-height: 130%;	
	font-size: 13px;
	margin-bottom: 6px;
	margin-left: 9px;
	margin-right: 9px;
	word-wrap: break-word;
	
	}
main .label_name{
	border-right:1px #eee solid;
	}
.form-bordered .form-group {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding-bottom: 20px;
}


.card-body{padding: 1rem 0.85rem;}

.th_edit,
.th_view{ width:50px;}
.th_delete{ width:70px;}



.important{ background-color:#FFF2F2;}


input[type="button"].button,
a.button:link,
a.button:visited{text-decoration: none;
    background-color: #0284C3;
    border: 1px #0284C3 solid;
    color: #fff;

}
input[type="button"].button:hover,
a.button:active,
a.button:hover {
	background-color: #FF9900;
	border: 1px solid #FF9900;
}


.card-body.card-checklist .column_area{ 
	font-size:1.25rem; line-height: 1.7rem;
	vertical-align: middle!important;
	color: #333; background-color: #fff;
	padding-top:26px;
}
.card-body.card-checklist .edit_area{ font-size:1.4rem; line-height: 1.5rem;}
.card-body.card-checklist .edit_area label{margin-bottom: 0px;color: #59564f;}
.card-body.card-checklist .column_number{ 
	background-color:#fff; text-align: center;
	font-size:2rem; line-height: 1.7rem;
	vertical-align: middle!important;
	color: #820049;
	padding-top:26px;
	word-wrap:normal;
}

.card-body.card-checklist .column_area01,
.card-body.card-checklist .edit_area01,
.card-body.card-checklist .column_number01,
.card-body.card-checklist .column_area,
.card-body.card-checklist .edit_area,
.card-body.card-checklist .column_number{border-bottom:2px solid #FCEDEF;}


.card-body.card-checklist.border_none .column_area,
.card-body.card-checklist.border_none .edit_area,
.card-body.card-checklist.border_none .column_number
.card-body.card-checklist .border_none .column_area,
.card-body.card-checklist .border_none .edit_area,
.card-body.card-checklist .border_none .column_area,
.card-body.card-checklist .border_none .column_number{border-bottom:0px solid #fff; border-width: 0px!important;}

.radio-label:hover {
    background-color: #FF7E00;
    border: 2px solid #FF7E00;
    color: #ffffff !important;
    transition-duration: 0.4s;
 }
 .radio-label{
	 display: block;
	 float: left;
	 margin: 5px 10px;
	 width:85%;  
	 min-height: 45px; 
	 text-align: center; 
	 line-height:120%; 
	 padding:5px 5px;
	 cursor: pointer;
	 color: #333;
	 border: 2px solid #E8E8E8;
	 background-color: #E8E8E8;
	 border-radius: 5px;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 font-size: 95%;
 }


.edit_area01 .label_area{
    width:100%;
    float:none;
}
.edit_area01 .radio-label{
	display: block;
	margin: 10px 10px;
	width:100%; 
	min-height: inherit; 
	text-align: left; 
	float: none;
	padding-left: 5px; 
	padding-right: 5px; 
	cursor: pointer;
	color: #333;
	border: 2px solid #fff;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 1.2rem;
	line-height: 1.75rem;
 }

.edit_area01 input[type="radio"]:checked + label {
	background: #F7ECF7;
	color: #333!important;
	border-color: #F7ECF7;
	transition-duration:0.4s;
 }


.edit_area01 .radio-label::before {
    content:'\e836'; margin-left:-36px; margin-top: -1px;  vertical-align: middle;
    font-family: "Material Icons";
	font-size:28px; line-height: 28px;
	float: left;
    color: #ccc!important;
    }
.edit_area01 input[type="radio"]:checked + .radio-label::before {
    content:'\e837'; margin-left:-36px; margin-top: -1px; vertical-align: middle;
    font-family: "Material Icons";
	font-size:28px; line-height: 28px;
	float: left;
    color: #692453!important;
    }


input[type="radio"]:checked + label {
	background: #874084;
	color: #ffffff!important;
	border-color: #874084;
	transition-duration:0.4s;
 }

.label_area{width: 40%; float: left;}
input[type=radio].radio-input{
	display: none; /* チェックボックスを非表示にする */ }


.edit_area01 .radio-label:hover {
	color: #333!important;
	background: #FAFDCE;
	border-color: #FAFDCE;
	transition-duration:0.4s;
    }

.edit_area01 .radio-label:hover::before  {
	color: #FBBF3D!important;
	transition-duration:0.4s;
	content:'\e837'; 
    }

/* ========================================================================== */
/* アラート関係 */
/* ========================================================================== */


.th_alert{ background-color:#FEF2EB; color:#333;}

.card-body.card-checklist .edit_question{
    border-bottom: 0px solid #FCEDEF;
	padding-bottom: 26px!important;
	max-width: 850px;
}

.alert {
    margin-top: 1rem;
}

.alert-warning td{padding-left: 1em;}




/* ========================================================================== */
/* FAQ */
/* ========================================================================== */
.container-fluid .card-body .question{
	margin: 0 0 1rem 0;
}

.container-fluid .card-body .question h2{
    margin-top: 1.5rem !important;
    background-color: #eaf3ef;
    color: #116b3a !important;
    font-size: 16px !important;
    border-radius: 3px;
    padding: 0.3rem 1rem !important;
    line-height: 130%;
    border: #d5e8e0 1px solid;
}


.container-fluid .card-body .question .row{
	position: relative;
	margin:0 0 0 2em;
	border-bottom: #ccc dotted 1px;
	width: 97%;
	height: 50px;
	z-index: 1;
}
.container-fluid .card-body .question .row a{
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 100%;
	transition: 0.3s;
	z-index: 2;
}
.container-fluid .card-body .question .row a:hover{
	text-decoration: underline;
	color: #007bff !important;
	
}

.container-fluid .card-body .answer .question02{
	margin:0 0 1.5rem 2em;
	border-top: #4FA27E dotted 1px;
	border-bottom: #4FA27E dotted 1px;
	line-height: 140%;
	padding: 0.5rem 1rem 0.5rem 0;
	color: #116b3a;
}

.container-fluid .card-body .answer .answer02{
	margin:1rem 0 0.5rem 4em;
}


.container-fluid .card-body .answer ul{
	margin: 1rem 0 0 0.5rem;
}
.container-fluid .card-body .answer li{
	margin-bottom: 0.5rem;
	line-height: 140%;	
}

.manual_dlarea{
	margin-bottom: 3rem;
}

.pagetitle .text-lg-right .another_menu{
	color:#00887A !important;
	background-color: #ECF3EF;
	padding: 0.3rem 1.5rem;
	margin-right: 1rem;
	margin-top: 0.2rem;
}
.pagetitle .text-lg-right .another_menu:link,.pagetitle .text-lg-right .another_menu:visited{
	color:#00887A !important;
	background-color: #ECF3EF;
	padding: 0.3rem 1.5rem; 
}
.pagetitle .text-lg-right .another_menu:hover,.pagetitle .text-lg-right .another_menu:active{
	color:#fff !important; 
}



/* ========================================================================== */
/* マニュアル管理 */
/* ========================================================================== */

/* ファイルアップロード */
.input .upload div{
	margin-bottom: 0.5rem;
	color:#3aab87; 
	font-weight: bold;
	font-size: 14px;
}



/* ========================================================================== */
/* オプション：スライド関係 */
/* ========================================================================== */

.question01_bun{ background-color:#fff; height:200px; width:100%;
vertical-align: middle; display: table;
		-moz-border-radius:10px;
		-webkit-border-radius: 10px;
		border-radius:10px;
}

.question01_waku{ 
	font-size:2.7rem; 
	line-height:130%; 
	text-align: left;
	margin-bottom: 26px;
	vertical-align: middle; 
	display: table-cell; 
	margin-left: -226px!important; 
	padding-top: 10px; }

.question01_bun h3{ 
	font-size:2.7rem; 
	line-height:130%; 
	text-align: center;
}

.question01_number{
	height:120px; 
	width:120px;
	font-size:60px;
	line-height:150%;
	-moz-border-radius:120px;
	-webkit-border-radius: 120px;
	border-radius: 120px;
	background-color: #8F87CB;
	color: #FFF;
	display:block;
	text-align: center;
	float: left;
	margin-left: 26px;
	margin-right: 26px;
	padding-top:16px;
}


.question_balloon {
	position: relative;
	display: inline-block;
	margin: 0 auto 0 auto;
	padding:5px;
	width: 100%;
	color: #555;
	font-size: 16px;
	background: #FFF2E1;
	border: solid 5px #FFC778;
	box-sizing: border-box;
		-moz-border-radius:15px;
		-webkit-border-radius: 15px;
		border-radius:15px;
}

.question_balloon::before{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -23px;
	border:20px solid transparent;
	border-top:20px solid #fff;
	z-index: 2;
}

.question_balloon:after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -17px;
	border: 14px solid transparent;
	border-top: 14px solid #FFC778;
	z-index: 1;
}

.edit_question .radio-label{ padding:15px 10px; width:90%; font-size:120%;}


.texts{ font-size:1.7rem; line-height: 130%!important; padding:20px 20px; text-align: left;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
    margin:10px 20px 20px 20px;
    background-color: antiquewhite;
}

 abbr[title]:after {
	content: "" !important;
 }

/* ========================================================================== */
/* 印刷関係 */
/* ========================================================================== */
.print_only{ visibility: hidden!important; display: none!important;}

@media print {
  .print_only{ visibility: inherit!important; display: block!important;}
  }


/* ========================================================================== */
/* モバイル用 */
/* ========================================================================== */

@media (min-width: 1200px) {
  .navbar,.page-footer, main {  padding-left:0px; }
		}

@media (max-width: 1199.98px) {
  .sidebar-fixed {  display: none; }
  }
		
@media (max-width:1100px) {
  .btn.btn-sm, .btn-group-sm > .btn, .btn-group-sm .btn {padding: 0.1rem 0.4rem;}
  .navbar .collapse .navbar-nav .nav-item .nav-link{  font-size:12px!important;}
  .navbar_user{ display: none; visibility: hidden;}
}
	
@media (max-width:991.98px) {
  .navbar-expand-lg .navbar-nav { flex-direction:column!important; width: auto;	text-align: left;}
  .navbar-nav li{ display:block;}
  .navbar .navbar-nav.navbar-nav-right.nav-flex-icons{align-items:left;}	
  .navbar-expand-lg .navbar-nav{background: #F1F5FF; }
  .navbar-nav li.nav-item a{float: none!important;}
  .navbar .navbar-nav.navbar-nav-right.nav-flex-icons{background-color: #CDCDCD; color: #59564F; font-size: 0.8rem;}
  .nav-item_right{background-color: #296BAA;}

  .navbar-nav.navbar-nav-left li a:before {
		content:'\e315'; color: #1077BD; vertical-align: middle;
		font-size:16px; line-height: 16px; margin-left:5px; margin-right:3px;  margin-top:0px;
		font-family: "Material Icons";
		float: left;
	}	
  .navbar-nav li{
		font-size:0.85rem;
		line-height: 16px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		border-radius:0px;
		padding:2px;
		border-bottom: 1px #c2d0f0 dotted; 
				}
	
  .navbar .navbar-nav .nav-item a.nav-link,
  .navbar-nav li A{ 
		padding:0.5rem 6px; display: block;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		border-radius:0px;
				}
  .navbar-nav li A:link,
  .navbar-nav li A:visited { COLOR: #59564F!important; }
  .navbar-nav li A:hover,
  .navbar-nav li A:active { COLOR: #fff!important; background-color:#458BD9; }
  .navbar-nav li A:hover::before,
  .navbar-nav li A:active::before{color: #fff; }


  .h-icon-help{background-image:url(../../img/h-icon-help.svg);}
  .h-icon-logoff{background-image:url(../../img/h-icon-logoff.svg);}
  .h-icon-help,
  .h-icon-logoff{ width:20px; height: 20px;
  position: relative;
  font-size: 12px; margin:6px 5px;
  text-transform: uppercase;
  border-radius: 3px;
  color: inherit;
  padding: 0rem 0rem;
  background-repeat:no-repeat;
  background-position: center right;
  background-size:contain;
  }

}

.spinner_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.spinner_overlay_on{
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.286);
    z-index:    3000;
    top:        0; 
    left:       0; 
    position:   fixed;
}