.h-icon-help, .h-icon-logoff {
    width: 20px;
    height: 20px;
    position: relative;
    font-size: 12px;
    margin: 6px 5px;
    text-transform: uppercase;
    border-radius: 3px;
    color: inherit;
    padding: 0rem 0rem;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}

.h-icon-help {
    background-image: url('../../../assets/img/h-icon-help.svg');
}

.h-icon-logoff {
    background-image: url('../../../assets/img/h-icon-logoff.svg');
}

