<div class="content-wrapper">
    <show-message [message]="message"></show-message>
        <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">ข้อมูลผู้ผลิต(แก้ไข)</h1>
                    
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink ="/master/supplier">ข้อมูลผู้ผลิต</a></li>
                        <li class="breadcrumb-item active">แก้ไข</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" >
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>รหัสผู้ผลิต</label>
                                <input type="text" [ngClass]="inputForm.controls['supplier_code'].invalid?'form-control is-invalid': 'form-control'" formControlName="supplier_code" placeholder="กรุณาใส่รหัส">
                                <div *ngIf="inputForm.controls['supplier_code'].hasError">
                                    <span class="help" *ngIf="inputForm.controls['supplier_code'].hasError('required')">กรุณาใส่ข้อมูล</span>
                                    <span class="help" *ngIf="inputForm.controls['supplier_code'].hasError('maxlength')">ใส่ได้ไม่เกิน 10 ตัวอักษร</span>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label>ชื่อผู้ผลิต</label>
                                <input type="text" [ngClass]="inputForm.controls['supplier_name'].invalid?'form-control is-invalid': 'form-control'" formControlName="supplier_name" placeholder="กรุณาใส่ชื่อ">
                                <div *ngIf="inputForm.controls['supplier_name'].hasError">
                                    <span class="help" *ngIf="inputForm.controls['supplier_name'].hasError('required')">กรุณาใส่ข้อมูล</span>
                                    <span class="help" *ngIf="inputForm.controls['supplier_name'].hasError('maxlength')">ใส่ได้ไม่เกิน 200 ตัวอักษร</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>หมายเหตุ</label>
                                <textarea rows="5" class="form-control" formControlName="address">

                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>รหัสไปรษณีย์</label>
                                <input type="text" [ngClass]="inputForm.controls['post_code'].invalid?'form-control is-invalid': 'form-control'" formControlName="post_code" placeholder="กรุณาใส่รหัส">
                                <div *ngIf="inputForm.controls['post_code'].hasError">
                                    <span class="help" *ngIf="inputForm.controls['post_code'].hasError('maxlength')">ใส่ได้ไม่เกิน 10 ตัวอักษร</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>เบอร์โทร</label>
                                <input type="text" [ngClass]="inputForm.controls['tel_no'].invalid?'form-control is-invalid': 'form-control'" formControlName="tel_no" placeholder="กรุณาใส่รหัส">
                                <div *ngIf="inputForm.controls['tel_no'].hasError">
                                    <span class="help" *ngIf="inputForm.controls['tel_no'].hasError('maxlength')">ใส่ได้ไม่เกิน 50 ตัวอักษร</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 
                <div class="card-footer">
                    <a [routerLink]="['/master/supplier']" class="btn btn-info">กลับ</a>
                    <button type="submit" class="btn btn-primary float-right">ยืนยัน</button>
                </div>
            </form>
        </div>
        
    </section>
    <!-- /.content -->
    {{inputForm.value|json}}

</div>
