<div class="content-wrapper">
    <show-message [message]="message"></show-message>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{'PAGE_NAME.EXAMINERS'|translate}}</h1>
                    
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">{{'PAGE_NAME.DASHBOARD'|translate}}</a></li>
                    <li class="breadcrumb-item active">{{'PAGE_NAME.EXAMINERS'|translate}}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- ↓↓===== Search area ===================================================↓↓ -->
            <form [formGroup]="inputForm">
                <div class="search card mb-4 p-0"><!-- /search -->
                    <div class="card-body d-sm-flex justify-content-between"><!-- /card-body -->
                        <!-- ↓↓Search Item Area----------------------↓↓ -->
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                  <!-- text input -->
                                  <div class="form-group">
                                    <label>{{'COMMON.CODE'|translate}}</label>
                                    <input type="text" class="form-control" formControlName="code" placeholder="Enter ...">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>{{'COMMON.NAME'|translate}}-{{'COMMON.LAST_NAME'|translate}}</label>
                                    <input type="text" class="form-control" formControlName="name" placeholder="Enter ...">
                                  </div>
                                </div>
                            </div>

                        </div>
                        <!-- ↑↑Search Item Area----------------------↑↑ -->

                        <!-- ↓↓ Search button area ----------------------↓↓ -->
                        <div class="col-sm-2">

                            <button type="button" class="btn btn-primary btn-search btn-sm w-100 p-3" (click)="onSearch()">{{'COMMON.SEARCH'|translate}}</button>
                            <button type="button" class="btn btn-warning btn-clear btn-sm w-100" (click)="onClear()">{{'COMMON.CLEAR'|translate}}</button>
                            <div class='sort-area'>
                                <select class="form-control" formControlName="rowsPerpage">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                            
                        </div><!-- /col-sm-2 -->
                        <!-- ↑↑ Search button area----------------------↑↑ -->
                    </div><!-- /card-body -->
                </div><!-- /search -->
                
            </form>
            <!-- ↑↑===== Search area ===================================================↑↑ -->

            <!-- ↓↓===== pagenation = ===================================================↓↓ -->
            <div class="row wow">
                <!-- ↓↓ 新規追加ボタン↓↓ -->
                <div class="col-sm-6 mb-0">
                    <a [routerLink]="['/health/examiners/edit',-1]" class="btn btn-success btn-add btn-sm" >
                        <em class="fa fa-plus"></em>
                        เพิ่ม
                    </a>
                </div>
                <!-- ↑↑ 新規追加ボタン↑↑ -->

                <div class="col-sm-6 f_13 text-right float-right">
                    <paginator
                        [AllPage]       = AllPage
                        [currentPage]   = CurrentPage
                        [AllData]       = CountData
                        (clickEvent)    = "onSelectPage($event)"
                    >
                    </paginator>
                </div>
                
            </div><!-- /row wow -->


            <!-- ↓↓===== List Area= =====================================================↓↓ -->
            <section class="content">
                <div class="container-fluid">
                    <!-- /.row -->

                    <div class="card">
                        <p-dataView #dv [value]="gridDatas" [paginator]="true" [rows]="20" [loading]="loading" paginatorPosition="both" [rowsPerPageOptions]="[20,50,100,200]">
                            <ng-template let-gridData pTemplate="listItem">
                                <div class="p-col-12">
                                    <div class="grid-list-item">
                                        <div class="grid-list-detail">
                                            <div class="grid-name">{{gridData.first_name}} {{gridData.last_name}}</div>
                                            <div class="grid-description">description</div>
                                            <em class="pi pi-tag product-category-icon"></em><span class="grid-category">category</span>
                                            <a [routerLink]="['/health/check-menu',gridData.id]" class="btn btn-link btn-sm" >
                                                <em class="pi pi-chart-line"></em> ตรวจสุขภาพ
                                            </a>
                                        </div>
                                        <div class="grid-list-action">
                                            <a [routerLink]="['/health/examiners/edit',gridData.id]" class="btn btn-info" >
                                                <em class="pi pi-pencil" alt=""></em> {{'COMMON.EDIT'|translate}}
                                            </a>
                                            <a (click)="onDelete(gridData.id)" class="btn btn-danger">
                                                <em class="pi pi-trash" alt=""></em> {{'COMMON.DELETE'|translate}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            
                        </p-dataView>
                    </div>
                            <!-- /.card -->


                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
           
            <!-- ↑↑===== List Area= =====================================================↑↑ -->
            
            
            <!-- ↓↓===== pagenation = ===================================================↓↓ -->
            <div class="row wow pagenation">

                <div class="col-sm-12 text-right float-right">
                    <paginator
                        [AllPage]       = AllPage
                        [currentPage]   = CurrentPage
                        [AllData]       = CountData
                        (clickEvent)    = "onSelectPage($event)"
                    >
                    </paginator>
                </div>
            </div><!-- /row wow -->
        </div>
    </section>
    <!-- /.content -->
</div>
