<div class="content-wrapper">
    <show-message [message]="message"></show-message>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{'PAGE_NAME.EXAMINERS'|translate}}</h1>
                    
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">{{'PAGE_NAME.DASHBOARD'|translate}}</a></li>
                        <li class="breadcrumb-item active">{{'PAGE_NAME.EXAMINERS'|translate}}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- ↓↓===== Search area ===================================================↓↓ -->
            <form [formGroup]="inputForm">
                <div class="search card mb-4 p-0"><!-- /search -->
                    <div class="card-body d-sm-flex justify-content-between"><!-- /card-body -->
                        <!-- ↓↓Search Item Area----------------------↓↓ -->
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                  <!-- text input -->
                                  <div class="form-group">
                                    <label>{{'COMMON.CODE'|translate}}</label>
                                    <input type="text" class="form-control" formControlName="code" placeholder="Enter ...">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>{{'COMMON.NAME'|translate}}-{{'COMMON.LAST_NAME'|translate}}</label>
                                    <input type="text" class="form-control" formControlName="name" placeholder="Enter ...">
                                  </div>
                                </div>
                            </div>

                        </div>
                        <!-- ↑↑Search Item Area----------------------↑↑ -->

                        <!-- ↓↓ Search button area ----------------------↓↓ -->
                        <div class="col-sm-2">

                            <button type="button" class="btn btn-primary btn-search btn-sm w-100 p-3" (click)="onSearch()">{{'COMMON.SEARCH'|translate}}</button>
                            <button type="button" class="btn btn-warning btn-clear btn-sm w-100" (click)="onClear()">{{'COMMON.CLEAR'|translate}}</button>
                            
                        </div><!-- /col-sm-2 -->
                        <!-- ↑↑ Search button area----------------------↑↑ -->
                    </div><!-- /card-body -->
                </div><!-- /search -->
                
            </form>
            <!-- ↑↑===== Search area ===================================================↑↑ -->

            <!-- ↓↓===== pagenation = ===================================================↓↓ -->
            <div class="row wow">
                <!-- ↓↓ 新規追加ボタン↓↓ -->
                <div class="col-sm-6 mb-0">
                    <a [routerLink]="['/health/examiners/edit',-1]" class="btn btn-success btn-add btn-sm" >
                        <em class="fa fa-plus"></em>
                        {{'COMMON.ADD'|translate}}
                    </a>
                </div>
                <!-- ↑↑ 新規追加ボタン↑↑ -->

                
            </div><!-- /row wow -->


            <!-- ↓↓===== List Area= =====================================================↓↓ -->
            <section class="content">
                <div class="container-fluid">
                    <!-- /.row -->

                    <div class="card">
                        <p-table [value]="gridDatas" styleClass="p-datatable-gridlines p-datatable-striped"
                            [paginator]="true" [rows]="20" [totalRecords]="totalRecords"
                            [rowsPerPageOptions]="[20,50,100,200]"
                            [rowHover]="true"
                            [loading]="loading"
                            [lazy]="true" (onLazyLoad)="getData($event)" 
                            [showCurrentPageReport]="true"
                            [responsive]="true" [first]="firstRecords">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope=”col”>{{'COMMON.CODE'|translate}}</th>
                                    <th scope=”col”>{{'COMMON.NAME'|translate}}</th>
                                </tr>
                            </ng-template>
                            
                            <ng-template pTemplate="body" let-gridData>
                                <tr>
                                    <td>
                                        <a pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" pTooltip="{{'COMMON.EDIT'|translate}}"  [routerLink]="['/health/examiners/edit',gridData.id]" ></a>
                                        <a pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" pTooltip="{{'COMMON.DELETE'|translate}}" (click)="onDelete(gridData.id)"></a>
                                    </td>
                                    <td>{{gridData.examiner_code}}</td>
                                    <td>{{gridData.first_name}} {{gridData.last_name}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </section>
           
            <!-- ↑↑===== List Area= =====================================================↑↑ -->
            
        </div>
    </section>
    <!-- /.content -->
</div>
