<app-header></app-header>
<show-message [message]="message"></show-message>

<div class="row wow pagetitle ml-2 mt-2 mb-3 mr-2 p-0">
    <div class="col-sm-4"><h1>TOP</h1></div>
</div>

<!--Main layout-->
<main class="pt-0 mx-lg-0　">
    <div class="container-fluid">
        <!-- ↓↓===== menu ここから ===================================================↓↓ -->
        <div class="card mb-4">
            <div class="card-body d-sm-flex justify-content-between">
                <div class="btn_main_menu row wow w-100 m-auto p-2 pt-3 pb-5"  style="max-width: 850px;">
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/currency/list']" class="w-100 nav-link btn waves-effect p-4" >สกุลเงิน</a>
                    </div>
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/calendar/list']" class="w-100 nav-link btn waves-effect p-4" >ปฏิทิน</a>
                    </div>
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/company/list']" class="w-100 nav-link btn waves-effect p-4" >ข้อมูลบริษัท</a>
                    </div>
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/factory/list']" class="w-100 nav-link btn waves-effect p-4" >ข้อมูลโรงงาน</a>
                    </div>
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/location/list']" class="w-100 nav-link btn waves-effect p-4" >ข้อมูลพื้นที่เก็บของ</a>
                    </div>
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/system/unit/list']" class="w-100 nav-link btn waves-effect p-4" >ข้อมูลหน่วยวัตถุดิบ</a>
                    </div>

                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/system/item/list']" class="w-100 nav-link btn waves-effect p-4" >ข้อมูลวัตถุดิบ</a>
                    </div>

                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/system/supplier/list']" class="w-100 nav-link btn waves-effect p-4" >ข้อมูลผู้ผลิต</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body d-sm-flex justify-content-between">
                <div class="btn_main_menu row wow w-100 m-auto p-2 pt-3 pb-5"  style="max-width: 850px;">
                    
                    <div class="col-md-6 mb-2">
                        <a [routerLink]="['/calendar/list']" class="w-100 nav-link btn waves-effect p-4" >xxxx</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->