

<div *ngFor="let myMessages of message">
  <div *ngIf="myMessages.messageType == 'warnning'">
    <div id="lbl_error" name="lbl_error" class="alert alert-warning alert-dismissible show ml-2 mr-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div *ngFor="let show_text of myMessages.message">
          {{show_text}}
        </div>
    </div>
  </div>

  <div *ngIf="myMessages.messageType == 'success'">
    <div id="lbl_error" name="lbl_error" class="alert alert-success alert-dismissible show ml-2 mr-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div *ngFor="let show_text of myMessages.message">
          {{show_text}}
        </div>
    </div>
  </div>

  <div *ngIf="myMessages.messageType == 'error'">
    <div id="lbl_error" name="lbl_error" class="alert alert-danger alert-dismissible show ml-2 mr-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div *ngFor="let show_text of myMessages.message">
          {{show_text}}
        </div>
    </div>
  </div>
</div>